Repository surveysolutions/surveysolutions, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, tests, installator

.github/labeler.yml:

# core:
#   - src/Core/**/*
#   - src/Infrastructure/**/*
#   - '!src/Core/BoundedContexts/**/*'
#   - '!src/Infrastructure/WB.Persistence.*/**/*'
# hq:
#   - src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/**/*
#   - src/UI/WB.UI.Headquarters.Core/**/*
#   - src/UI/WB.UI.Frontend/**/*
migrations:
  - src/Infrastructure/WB.Persistence.*/**/*
# export:
#   - src/Services/**/*
# android:
#   - src/UI/Interviewer/WB.UI.Interviewer/**/*
#   - src/UI/Supervisor/**/*
#   - src/UI/Tester/**/*
#   - src/UI/Shared/WB.UI.Shared.Enumerator/**/*
#   - src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/**/*
#   - src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/**/*
#   - src/Core/BoundedContexts/Tester/**/*
# designer:
#   - src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/**/*
#   - src/UI/Designer/WB.UI.Designer/**/*
tests:
  - src/Tests/**/*
  - src/Services/Export/WB.Services.Export.Tests/**/*
# vue:
#   - src/UI/WB.UI.Frontend/**/*
#   - src/UI/WB.UI.Designer/questionnaire-app/**/*
installator:
  - src/Installation/**/*
# version_bump:
#   - src/.version

KP-14238 fixed search
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none

KP-14248 Allow approving of rejected and received interviews. Add warning and checkbox [modal paddings]
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interview/DetailsInfo.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none

KP-14238 changes in graphql schema
  src/Tests/WB.Tests.Web/Headquarters/Controllers/GraphTests/SchemaTest.Ensure_schema_isCorrect.approved.txt
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/InterviewFilter.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/AnswerObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/InterviewsFilterInputType.cs
Labels: tests

KP-14238 changes in graphql schema
  src/Tests/WB.Tests.Web/Headquarters/Controllers/GraphTests/SchemaTest.Ensure_schema_isCorrect.approved.txt
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/InterviewFilter.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/AnswerObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/InterviewsFilterInputType.cs
Labels: tests

KP-14238 changes in graphql schema
  src/Tests/WB.Tests.Web/Headquarters/Controllers/GraphTests/SchemaTest.Ensure_schema_isCorrect.approved.txt
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/InterviewFilter.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/AnswerObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/InterviewsFilterInputType.cs
Labels: tests

KP-14238 fixed map class
  src/Tests/WB.Tests.Integration/AudioAudit/AudioAuditStorageTests.cs
  src/Tests/WB.Tests.Integration/DeleteQuestionnaireServiceTests/DeleteQuestionnaireTests.cs
  src/Tests/WB.Tests.Integration/InterviewFactoryTests/InterviewFactorySpecification.cs
  src/Tests/WB.Tests.Integration/ReportTests/ChartStatisticsViewFactoryTests/ChartStatisticsViewFactoryTestsContext.cs
  src/Tests/WB.Tests.Integration/ReportTests/ReportContext.cs
  src/Tests/WB.Tests.Integration/ReportTests/TeamsAndStatusesTests/TeamsAndStatusesReportContext.cs
  src/Tests/WB.Tests.Integration/TeamViewFactoryTests/TeamViewFactoryContext.cs
Labels: tests

KP-14238 fixed map class
  src/Tests/WB.Tests.Integration/AudioAudit/AudioAuditStorageTests.cs
  src/Tests/WB.Tests.Integration/DeleteQuestionnaireServiceTests/DeleteQuestionnaireTests.cs
  src/Tests/WB.Tests.Integration/InterviewFactoryTests/InterviewFactorySpecification.cs
  src/Tests/WB.Tests.Integration/ReportTests/ChartStatisticsViewFactoryTests/ChartStatisticsViewFactoryTestsContext.cs
  src/Tests/WB.Tests.Integration/ReportTests/ReportContext.cs
  src/Tests/WB.Tests.Integration/ReportTests/TeamsAndStatusesTests/TeamsAndStatusesReportContext.cs
  src/Tests/WB.Tests.Integration/TeamViewFactoryTests/TeamViewFactoryContext.cs
Labels: tests

KP-14238 fixed map class
  src/Tests/WB.Tests.Integration/AudioAudit/AudioAuditStorageTests.cs
  src/Tests/WB.Tests.Integration/DeleteQuestionnaireServiceTests/DeleteQuestionnaireTests.cs
  src/Tests/WB.Tests.Integration/InterviewFactoryTests/InterviewFactorySpecification.cs
  src/Tests/WB.Tests.Integration/ReportTests/ChartStatisticsViewFactoryTests/ChartStatisticsViewFactoryTestsContext.cs
  src/Tests/WB.Tests.Integration/ReportTests/ReportContext.cs
  src/Tests/WB.Tests.Integration/ReportTests/TeamsAndStatusesTests/TeamsAndStatusesReportContext.cs
  src/Tests/WB.Tests.Integration/TeamViewFactoryTests/TeamViewFactoryContext.cs
Labels: tests

KP-14238 fixed tests
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.es.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.resx
  src/Tests/WB.Tests.Abc/TestFactories/ViewModelFactory.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireTests/MoveGroupTests.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/DashboardDenormalizerTests/when_handling_InterviewOnClientCreated_event_and_one_of_prefilled_questions_is_GPS.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/DashboardDenormalizerTests/when_handling_InterviewSynchronized_event_and_one_of_prefilled_questions_is_GPS_with_answer_of_GeoPosition_type.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/DashboardDenormalizerTests/when_handling_InterviewSynchronized_event_and_one_of_prefilled_questions_is_GPS_with_answer_of_string_type.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/EventHandlers/SpeedReportDenormalizerFunctionalTests/SpeedReportDenormalizerFunctionalTestsContext.cs
Labels: tests

KP-14238 fixed tests
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.es.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.resx
  src/Tests/WB.Tests.Abc/TestFactories/ViewModelFactory.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireTests/MoveGroupTests.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/DashboardDenormalizerTests/when_handling_InterviewOnClientCreated_event_and_one_of_prefilled_questions_is_GPS.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/DashboardDenormalizerTests/when_handling_InterviewSynchronized_event_and_one_of_prefilled_questions_is_GPS_with_answer_of_GeoPosition_type.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/DashboardDenormalizerTests/when_handling_InterviewSynchronized_event_and_one_of_prefilled_questions_is_GPS_with_answer_of_string_type.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/EventHandlers/SpeedReportDenormalizerFunctionalTests/SpeedReportDenormalizerFunctionalTestsContext.cs
Labels: tests

KP-14238 fixed tests
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.es.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.resx
  src/Tests/WB.Tests.Abc/TestFactories/ViewModelFactory.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireTests/MoveGroupTests.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/DashboardDenormalizerTests/when_handling_InterviewOnClientCreated_event_and_one_of_prefilled_questions_is_GPS.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/DashboardDenormalizerTests/when_handling_InterviewSynchronized_event_and_one_of_prefilled_questions_is_GPS_with_answer_of_GeoPosition_type.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/DashboardDenormalizerTests/when_handling_InterviewSynchronized_event_and_one_of_prefilled_questions_is_GPS_with_answer_of_string_type.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/EventHandlers/SpeedReportDenormalizerFunctionalTests/SpeedReportDenormalizerFunctionalTestsContext.cs
Labels: tests

KP-14238 fixed tests#2
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/DynamicTextViewModel.cs
Labels: none

KP-14238 fixed tests#2
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/DynamicTextViewModel.cs
Labels: none

KP-14238 fixed tests#2
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/DynamicTextViewModel.cs
Labels: none

KP-14238 tests
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/DynamicTextViewModel.cs
  src/Tests/WB.Tests.Abc/Setup.cs
  src/Tests/WB.Tests.Abc/TestFactories/FakeFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/StorageFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/ViewModelFactory.cs
  src/Tests/WB.Tests.Integration/Setup.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/Services/InterviewViewModelFactoryTests/InterviewViewModelFactoryTest.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/DynamicTextViewModelTests/DynamicTextViewModel_InitMethodTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/PdfViewModelTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/QuestionHeaderViewModelTests/QuestionHeaderViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/QuestionHeaderViewModelTests/when_initializing.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/QuestionHeaderViewModelTests/when_roster_title_substitution_is_used.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/StaticTextViewModelTests/StaticTextViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/TextQuestionViewModelTests/when_textQuestion_answer_removed_by_roster_changes.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/YesNoQuestionViewModelTests/when_toggling_answer_for_ordered_yes_no.cs
Labels: tests

KP-14238 tests
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/DynamicTextViewModel.cs
  src/Tests/WB.Tests.Abc/Setup.cs
  src/Tests/WB.Tests.Abc/TestFactories/FakeFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/StorageFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/ViewModelFactory.cs
  src/Tests/WB.Tests.Integration/Setup.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/Services/InterviewViewModelFactoryTests/InterviewViewModelFactoryTest.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/DynamicTextViewModelTests/DynamicTextViewModel_InitMethodTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/PdfViewModelTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/QuestionHeaderViewModelTests/QuestionHeaderViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/QuestionHeaderViewModelTests/when_initializing.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/QuestionHeaderViewModelTests/when_roster_title_substitution_is_used.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/StaticTextViewModelTests/StaticTextViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/TextQuestionViewModelTests/when_textQuestion_answer_removed_by_roster_changes.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/YesNoQuestionViewModelTests/when_toggling_answer_for_ordered_yes_no.cs
Labels: tests

KP-14238 tests
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/DynamicTextViewModel.cs
  src/Tests/WB.Tests.Abc/Setup.cs
  src/Tests/WB.Tests.Abc/TestFactories/FakeFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/StorageFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/ViewModelFactory.cs
  src/Tests/WB.Tests.Integration/Setup.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/Services/InterviewViewModelFactoryTests/InterviewViewModelFactoryTest.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/DynamicTextViewModelTests/DynamicTextViewModel_InitMethodTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/PdfViewModelTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/QuestionHeaderViewModelTests/QuestionHeaderViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/QuestionHeaderViewModelTests/when_initializing.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/QuestionHeaderViewModelTests/when_roster_title_substitution_is_used.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/StaticTextViewModelTests/StaticTextViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/TextQuestionViewModelTests/when_textQuestion_answer_removed_by_roster_changes.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/YesNoQuestionViewModelTests/when_toggling_answer_for_ordered_yes_no.cs
Labels: tests

KP-13994 Fixed spelling
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.Designer.cs
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.resx
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/ar.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/en.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/es.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/fr.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/sq.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/zh.json
Labels: none

KP-13994 Form validation on save fixed
  src/UI/WB.UI.Designer/questionnaire-app/src/views/OptionsEditor/components/OptionItemDialog.vue
Labels: none

KP-13994 Do not allow to save strings with errors
  src/UI/WB.UI.Designer/questionnaire-app/src/views/OptionsEditor/OptionsEditor.vue
  src/UI/WB.UI.Designer/questionnaire-app/src/views/OptionsEditor/components/OptionItemsAsStrings.vue
Labels: none

KP-13994 Do not allow to switch tab if strings has errors
  src/UI/WB.UI.Designer/questionnaire-app/src/views/OptionsEditor/OptionsEditor.vue
Labels: none

KP-13994 Fixed resizing issues
  src/UI/WB.UI.Designer/questionnaire-app/src/views/OptionsEditor/OptionsEditor.vue
  src/UI/WB.UI.Designer/questionnaire-app/src/views/OptionsEditor/components/OptionItemsTable.vue
Labels: none

KP-13994 UI Fixes
  src/UI/WB.UI.Designer/questionnaire-app/package-lock.json
  src/UI/WB.UI.Designer/questionnaire-app/package.json
  src/UI/WB.UI.Designer/questionnaire-app/src/views/OptionsEditor/components/OptionItemDialog.vue
  src/UI/WB.UI.Designer/questionnaire-app/src/views/OptionsEditor/components/OptionItemsTable.vue
Labels: none

KP-14248 Allow approving of rejected and received interviews. Add warning and checkbox [minor changes]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none

KP-14248 Allow approving of rejected and received interviews. Add warning and checkbox [minor changes]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none

KP-14248 Allow approving of rejected and received interviews. Add warning and checkbox [modal paddings]
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interview/DetailsInfo.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none

KP-14248 Allow approving of rejected and received interviews. Add warning and checkbox [minor changes]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none

KP-14248 Allow approving of rejected and received interviews. Add warning and checkbox [modal paddings]
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interview/DetailsInfo.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none

KP-14248 Allow approving of rejected and received interviews. Add warning and checkbox [modal paddings]
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interview/DetailsInfo.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [impl for super]
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/Dashboard/DashboardViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/DashboardNotificationsViewModel.cs
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/notification_panel.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dashboard_notifications.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dimensions_notifications.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Supervisor/WB.UI.Supervisor/Resources/Layout/dashboard.axml
Labels: none

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [impl for super]
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/Dashboard/DashboardViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/DashboardNotificationsViewModel.cs
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/notification_panel.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dashboard_notifications.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dimensions_notifications.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Supervisor/WB.UI.Supervisor/Resources/Layout/dashboard.axml
Labels: none

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [impl for super]
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/Dashboard/DashboardViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/DashboardNotificationsViewModel.cs
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/notification_panel.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dashboard_notifications.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dimensions_notifications.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Supervisor/WB.UI.Supervisor/Resources/Layout/dashboard.axml
Labels: none

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [fix tests]
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/ViewModels/DashboardViewModelTests.cs
Labels: tests

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [fix tests]
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/ViewModels/DashboardViewModelTests.cs
Labels: tests

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [fix tests]
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/ViewModels/DashboardViewModelTests.cs
Labels: tests

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [fix more tests]
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/ViewModels/DashboardViewModelTests.cs
Labels: tests

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [fix more tests]
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/ViewModels/DashboardViewModelTests.cs
Labels: tests

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [fix more tests]
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/ViewModels/DashboardViewModelTests.cs
Labels: tests

KP-14383 Calendar Events on HQ [initial commit]
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/CalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/CreateCalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/UpdateCalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventCreated.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventEvent.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventUpdated.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/CalendarEvent.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/CalendarEventInfrastructure/CalendarEventProperties.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/ReadSide/M2020/M202010261732_AddCalendarEvents.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/index.js
  src/UI/WB.UI.Headquarters.Core/Controllers/InterviewerHqController.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.resx
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: migrations

KP-14383 Calendar Events on HQ [initial commit]
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/CalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/CreateCalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/UpdateCalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventCreated.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventEvent.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventUpdated.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/CalendarEvent.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/CalendarEventInfrastructure/CalendarEventProperties.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/ReadSide/M2020/M202010261732_AddCalendarEvents.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/index.js
  src/UI/WB.UI.Headquarters.Core/Controllers/InterviewerHqController.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.resx
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: migrations
