Repository surveysolutions/surveysolutions, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, tests, installator

.github/labeler.yml:

# core:
#   - src/Core/**/*
#   - src/Infrastructure/**/*
#   - '!src/Core/BoundedContexts/**/*'
#   - '!src/Infrastructure/WB.Persistence.*/**/*'
# hq:
#   - src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/**/*
#   - src/UI/WB.UI.Headquarters.Core/**/*
#   - src/UI/WB.UI.Frontend/**/*
migrations:
  - src/Infrastructure/WB.Persistence.*/**/*
# export:
#   - src/Services/**/*
# android:
#   - src/UI/Interviewer/WB.UI.Interviewer/**/*
#   - src/UI/Supervisor/**/*
#   - src/UI/Tester/**/*
#   - src/UI/Shared/WB.UI.Shared.Enumerator/**/*
#   - src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/**/*
#   - src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/**/*
#   - src/Core/BoundedContexts/Tester/**/*
# designer:
#   - src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/**/*
#   - src/UI/Designer/WB.UI.Designer/**/*
tests:
  - src/Tests/**/*
  - src/Services/Export/WB.Services.Export.Tests/**/*
# vue:
#   - src/UI/WB.UI.Frontend/**/*
#   - src/UI/WB.UI.Designer/questionnaire-app/**/*
installator:
  - src/Installation/**/*
# version_bump:
#   - src/.version

KP-14386 IN app crashes after answering Barcode question with enabled audio recording
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/AudioAuditService.cs
Labels: none

KP-14386 IN app crashes after answering Barcode question with enabled audio recording
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/AudioAuditService.cs
Labels: none

KP-14386 IN app crashes after answering Barcode question with enabled audio recording
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/AudioAuditService.cs
Labels: none

KP-14386 IN app crashes after answering Barcode question with enabled audio recording
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/AudioAuditService.cs
Labels: none

KP-14383 Calendar Events on HQ [fix modal, add denormalizers]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEvent.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventMap.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/HeadquartersBoundedContextModule.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventCreated.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/ReadSide/M2020/M202010261732_AddCalendarEvents.cs
  src/Tests/WB.Tests.Integration/DeleteQuestionnaireServiceTests/DeleteQuestionnaireTests.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
Labels: migrations, tests

KP-14383 Calendar Events on HQ [fix modal, add denormalizers]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEvent.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventMap.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/HeadquartersBoundedContextModule.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventCreated.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/ReadSide/M2020/M202010261732_AddCalendarEvents.cs
  src/Tests/WB.Tests.Integration/DeleteQuestionnaireServiceTests/DeleteQuestionnaireTests.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
Labels: migrations, tests

KP-14383 Calendar Events on HQ [fix modal, add denormalizers]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEvent.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventMap.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/HeadquartersBoundedContextModule.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventCreated.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/ReadSide/M2020/M202010261732_AddCalendarEvents.cs
  src/Tests/WB.Tests.Integration/DeleteQuestionnaireServiceTests/DeleteQuestionnaireTests.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
Labels: migrations, tests

KP-14383 Calendar Events on HQ [fix id]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventMap.cs
Labels: none

KP-14383 Calendar Events on HQ [fix id]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventMap.cs
Labels: none

KP-14383 Calendar Events on HQ [fix id]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventMap.cs
Labels: none

KP-14383 Calendar Events on HQ [add grathql support]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEvent.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventDenormalizer.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/CreateCalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/UpdateCalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventCreated.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventUpdated.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/ReadSide/M2020/M202010261732_AddCalendarEvents.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/CalendarEventObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/InterviewerHqController.cs
Labels: migrations

KP-14383 Calendar Events on HQ [add grathql support]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEvent.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventDenormalizer.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/CreateCalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/UpdateCalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventCreated.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventUpdated.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/ReadSide/M2020/M202010261732_AddCalendarEvents.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/CalendarEventObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/InterviewerHqController.cs
Labels: migrations

KP-14383 Calendar Events on HQ [add grathql support]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEvent.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CalendarEvents/CalendarEventDenormalizer.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/CreateCalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/CalendarEvent/UpdateCalendarEventCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventCreated.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/CalendarEvent/CalendarEventUpdated.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/ReadSide/M2020/M202010261732_AddCalendarEvents.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/CalendarEventObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/InterviewerHqController.cs
Labels: migrations

KP-14382 Calendar on Tablet (init)
  src/Core/SharedKernels/Enumerator/Enumerator/Denormalizer/InterviewDashboardEventHandler.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Repositories/CalendarEventStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Repositories/ICalendarEventStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/CalendarEventDialogViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/InterviewDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/AssignmentDocument.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/CalendarEvent.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/InterviewView.cs
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/UI/Interviewer/WB.UI.Interviewer/Setup.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/CalendarEventDialog.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/Dashboard/ExpandableViewHolder.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorUIModule.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/calendar_event_dialog.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
Labels: tests

KP-14382 Calendar on Tablet (init)
  src/Core/SharedKernels/Enumerator/Enumerator/Denormalizer/InterviewDashboardEventHandler.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Repositories/CalendarEventStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Repositories/ICalendarEventStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/CalendarEventDialogViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/InterviewDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/AssignmentDocument.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/CalendarEvent.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/InterviewView.cs
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/UI/Interviewer/WB.UI.Interviewer/Setup.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/CalendarEventDialog.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/Dashboard/ExpandableViewHolder.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorUIModule.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/calendar_event_dialog.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
Labels: tests

KP-14382 Calendar on Tablet (init)
  src/Core/SharedKernels/Enumerator/Enumerator/Denormalizer/InterviewDashboardEventHandler.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Repositories/CalendarEventStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Repositories/ICalendarEventStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/CalendarEventDialogViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/InterviewDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/AssignmentDocument.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/CalendarEvent.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/InterviewView.cs
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/UI/Interviewer/WB.UI.Interviewer/Setup.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/CalendarEventDialog.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/Dashboard/ExpandableViewHolder.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorUIModule.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/calendar_event_dialog.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
Labels: tests

Add default export settings directory to hq
  src/UI/WB.UI.Headquarters.Core/appsettings.ini
Labels: none

Handle Export Service DirectoryPath tilda
  src/Services/Export/WB.Services.Export/ServicesRegistry.cs
Labels: none

KP-14382 added calendar menu on assignment dashboard item
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardItems/InterviewerAssignmentDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Denormalizer/InterviewDashboardEventHandler.cs
  src/Core/SharedKernels/Enumerator/Enumerator/EnumeratorSharedKernelModule.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/AssignmentDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/InterviewDashboardItemViewModel.cs
Labels: none

KP-14382 added calendar menu on assignment dashboard item
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardItems/InterviewerAssignmentDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Denormalizer/InterviewDashboardEventHandler.cs
  src/Core/SharedKernels/Enumerator/Enumerator/EnumeratorSharedKernelModule.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/AssignmentDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/InterviewDashboardItemViewModel.cs
Labels: none

KP-14382 added calendar menu on assignment dashboard item
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardItems/InterviewerAssignmentDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Denormalizer/InterviewDashboardEventHandler.cs
  src/Core/SharedKernels/Enumerator/Enumerator/EnumeratorSharedKernelModule.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/AssignmentDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/InterviewDashboardItemViewModel.cs
Labels: none

KP-14383 Calendar Events on HQ [fix delete CE and graphql]
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/index.js
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/InterviewerHqController.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.resx
Labels: none

KP-14383 Calendar Events on HQ [fix delete CE and graphql]
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/index.js
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/InterviewerHqController.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.resx
Labels: none

KP-14383 Calendar Events on HQ [fix delete CE and graphql]
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/Interviews.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/index.js
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/InterviewerHqController.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.resx
Labels: none

KP-14389 App crashes on opening from background
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Implementation/Services/InterviewerPrincipal.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/Services/Implementation/SupervisorPrincipal.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/EnumeratorPrincipal.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelOfT.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelSetupMethods.cs
Labels: none

KP-14389 App crashes on opening from background
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Implementation/Services/InterviewerPrincipal.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/Services/Implementation/SupervisorPrincipal.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/EnumeratorPrincipal.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelOfT.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelSetupMethods.cs
Labels: none

KP-14389 App crashes on opening from background
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Implementation/Services/InterviewerPrincipal.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/Services/Implementation/SupervisorPrincipal.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/EnumeratorPrincipal.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelOfT.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelSetupMethods.cs
Labels: none

Added tag to remove answer button
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_question_yesno_item.axml
Labels: none

Added tag to remove answer button
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_question_yesno_item.axml
Labels: none

Added tag to remove answer button
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_question_yesno_item.axml
Labels: none

Build fixed
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Supervisor/Services/SupervisorPrincipalTests.cs
Labels: tests

Build fixed
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Supervisor/Services/SupervisorPrincipalTests.cs
Labels: tests

Build fixed
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Supervisor/Services/SupervisorPrincipalTests.cs
Labels: tests

KP-14390 Adjusting HQ docker defaults
  build/headquarters/appsettings.ini
  build/headquarters/dockerfile
  src/Services/Export/WB.Services.Export/ServicesRegistry.cs
  src/UI/WB.UI.Headquarters.Core/appsettings.ini
Labels: none

KP-14390 Adjusting HQ docker defaults
  src/Services/Export/WB.Services.Export/ServicesRegistry.cs
  src/UI/WB.UI.Headquarters.Core/appsettings.ini
Labels: none

KP-14390 Adjusting HQ docker defaults
  src/Services/Export/WB.Services.Export/ServicesRegistry.cs
  src/UI/WB.UI.Headquarters.Core/appsettings.ini
Labels: none

KP-14390 Move old export service folder to configured place
  src/UI/WB.UI.Headquarters.Core/Services/EmbeddedService/ExportServiceEmbeddableHost.cs
Labels: none

KP-14390 Move old export service folder to configured place
  src/UI/WB.UI.Headquarters.Core/Services/EmbeddedService/ExportServiceEmbeddableHost.cs
Labels: none

KP-14390 Move old export service folder to configured place
  src/UI/WB.UI.Headquarters.Core/Services/EmbeddedService/ExportServiceEmbeddableHost.cs
Labels: none

KP-14390 Propagate S3 configuration settings to export service
  src/Services/Export/WB.Services.Export/Storage/FileStorageModule.cs
  src/UI/WB.UI.Headquarters.Core/Services/EmbeddedService/ExportServiceEmbeddableHost.cs
Labels: none
