Repository surveysolutions/surveysolutions, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, tests, installator

.github/labeler.yml:

# core:
#   - src/Core/**/*
#   - src/Infrastructure/**/*
#   - '!src/Core/BoundedContexts/**/*'
#   - '!src/Infrastructure/WB.Persistence.*/**/*'
# hq:
#   - src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/**/*
#   - src/UI/WB.UI.Headquarters.Core/**/*
#   - src/UI/WB.UI.Frontend/**/*
migrations:
  - src/Infrastructure/WB.Persistence.*/**/*
# export:
#   - src/Services/**/*
# android:
#   - src/UI/Interviewer/WB.UI.Interviewer/**/*
#   - src/UI/Supervisor/**/*
#   - src/UI/Tester/**/*
#   - src/UI/Shared/WB.UI.Shared.Enumerator/**/*
#   - src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/**/*
#   - src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/**/*
#   - src/Core/BoundedContexts/Tester/**/*
# designer:
#   - src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/**/*
#   - src/UI/Designer/WB.UI.Designer/**/*
tests:
  - src/Tests/**/*
  - src/Services/Export/WB.Services.Export.Tests/**/*
# vue:
#   - src/UI/WB.UI.Frontend/**/*
#   - src/UI/WB.UI.Designer/questionnaire-app/**/*
installator:
  - src/Installation/**/*
# version_bump:
#   - src/.version

KP-14331 disable preview
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 disable preview
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 fixed cancel
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 fixed cancel
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 fixed cancel
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14344 export device type
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewParaDataEventHandler.cs
Labels: none

KP-14344 export device type
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewParaDataEventHandler.cs
Labels: none

KP-14344 export device type
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewParaDataEventHandler.cs
Labels: none

KP-14361 Installer issue
  src/SurveySolutionsBootstrap/Bundle.wxs
  src/SurveySolutionsBootstrap/NetCoreChecker.wxs
  src/SurveySolutionsProduct/Product.wxs
Labels: none

KP-14361 Installer issue
  src/Installation/SurveySolutions/SurveySolutionsBootstrap/Bundle.wxs
  src/Installation/SurveySolutions/SurveySolutionsBootstrap/NetCoreChecker.wxs
  src/Installation/SurveySolutions/SurveySolutionsProduct/Product.wxs
Labels: installator

KP-14238 added support for double numbers
  src/UI/Interviewer/WB.UI.Interviewer/Activities/PrefsActivity.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Settings/PreferenceExtensions.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Supervisor/WB.UI.Supervisor/Activities/PrefsActivity.cs
Labels: none

KP-14238 added support for double numbers
  src/UI/Interviewer/WB.UI.Interviewer/Activities/PrefsActivity.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Settings/PreferenceExtensions.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Supervisor/WB.UI.Supervisor/Activities/PrefsActivity.cs
Labels: none

KP-14238 added support for double numbers
  src/UI/Interviewer/WB.UI.Interviewer/Activities/PrefsActivity.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Settings/PreferenceExtensions.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Supervisor/WB.UI.Supervisor/Activities/PrefsActivity.cs
Labels: none

Fix resources
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/DataExport.es.resx
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/Properties/SupervisorUIResources.ru.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Assignments.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Assignments.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/BatchUpload.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Dashboard.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Interviews.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/PeriodicStatusReport.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Reports.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/UploadUsers.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewSettings.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewSetup.ru.resx
Labels: none

Fix resources
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/DataExport.es.resx
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/Properties/SupervisorUIResources.ru.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Assignments.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Assignments.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/BatchUpload.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Dashboard.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Interviews.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/PeriodicStatusReport.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Reports.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/UploadUsers.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewSettings.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewSetup.ru.resx
Labels: none

Fix resources
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/DataExport.es.resx
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/Properties/SupervisorUIResources.ru.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Assignments.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Assignments.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/BatchUpload.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Dashboard.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Interviews.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/PeriodicStatusReport.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Reports.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/UploadUsers.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewSettings.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewSetup.ru.resx
Labels: none

fix resources
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
Labels: none

fix resources
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
Labels: none

fix resources
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
Labels: none

Fix tests
  src/Tests/WB.Tests.Unit/BoundedContexts/Tester/ViewModels/DashboardViewModelTests/DashboardViewModelTestContext.cs
Labels: tests

Fix code and tests
  src/Tests/WB.Tests.Abc/TestFactories/StorageFactory.cs
  src/Tests/WB.Tests.Unit/Infrastructure/AggregateRootCacheTests.cs
  src/UI/WB.UI.WebTester/Services/Implementation/WebTesterAggregateCache.cs
Labels: tests

fix build
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/EnablementViewModel.cs
Labels: none

KP-14362 Tablet Exception [move check to constructor]
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Implementation/Services/InterviewerPrincipal.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/CreateInterview/CreateAndLoadInterviewViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/FinishInstallationViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/RelinkDeviceViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/PrefilledQuestionsViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/SupervisorInterviewViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/SupervisorOfflineSyncViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/DashboardViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/InterviewViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/LoginViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/PrefilledQuestionsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BasePrefilledQuestionsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelOfT.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelSetupMethods.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/DiagnosticsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/EnumeratorFinishInstallationViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/EnumeratorLoginViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/BaseInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SingleInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewLoading/LoadingInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/ProgressViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/SearchViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/MapsViewModel.cs
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/InterviewViewModel.cs
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/PrefilledQuestionsViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/CustomServices/MapDashboard/MapDashboardViewModel.cs
Labels: tests

KP-14362 Tablet Exception [move check to constructor]
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Implementation/Services/InterviewerPrincipal.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/CreateInterview/CreateAndLoadInterviewViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/FinishInstallationViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/RelinkDeviceViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/PrefilledQuestionsViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/SupervisorInterviewViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/SupervisorOfflineSyncViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/DashboardViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/InterviewViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/LoginViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/PrefilledQuestionsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BasePrefilledQuestionsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelOfT.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelSetupMethods.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/DiagnosticsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/EnumeratorFinishInstallationViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/EnumeratorLoginViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/BaseInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SingleInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewLoading/LoadingInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/ProgressViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/SearchViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/MapsViewModel.cs
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/InterviewViewModel.cs
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/PrefilledQuestionsViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/CustomServices/MapDashboard/MapDashboardViewModel.cs
Labels: tests

KP-14362 Tablet Exception [move check to constructor]
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Implementation/Services/InterviewerPrincipal.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/CreateInterview/CreateAndLoadInterviewViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/FinishInstallationViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/RelinkDeviceViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/PrefilledQuestionsViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/SupervisorInterviewViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/SupervisorOfflineSyncViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/DashboardViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/InterviewViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/LoginViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/PrefilledQuestionsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BasePrefilledQuestionsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelOfT.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelSetupMethods.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/DiagnosticsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/EnumeratorFinishInstallationViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/EnumeratorLoginViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/BaseInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SingleInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewLoading/LoadingInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/ProgressViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/SearchViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/MapsViewModel.cs
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/InterviewViewModel.cs
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/PrefilledQuestionsViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/CustomServices/MapDashboard/MapDashboardViewModel.cs
Labels: tests

Fix tests
  src/Tests/WB.Tests.Unit/BoundedContexts/Tester/ViewModels/DashboardViewModelTests/DashboardViewModelTestContext.cs
Labels: tests

Fix tests
  src/Tests/WB.Tests.Unit/BoundedContexts/Tester/ViewModels/DashboardViewModelTests/DashboardViewModelTestContext.cs
Labels: tests

Fix tests
  src/Tests/WB.Tests.Unit/BoundedContexts/Tester/ViewModels/DashboardViewModelTests/DashboardViewModelTestContext.cs
Labels: tests

KP-14331 try fix switch tabs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 try fix switch tabs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 try fix switch tabs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 fix switch tabs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 fix switch tabs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 fix switch tabs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 fixed watch on value
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 fixed watch on value
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 fixed watch on value
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14361 Installer issue [fix version check]
  src/Installation/SurveySolutions/SurveySolutionsBootstrap/Bundle.wxs
  src/Installation/SurveySolutions/SurveySolutionsProduct/Product.wxs
Labels: installator

fix tests
  src/Core/Infrastructure/WB.Core.Infrastructure/Implementation/Aggregates/AggregateRootCache.cs
  src/Tests/WB.Tests.Abc/TestFactories/StorageFactory.cs
  src/Tests/WB.Tests.Unit/Infrastructure/AggregateRootCacheTests.cs
  src/UI/WB.UI.WebTester/Services/Implementation/WebTesterAggregateCache.cs
Labels: tests

KP-14366 Variables on designer
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Aggregates/Questionnaire.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ar.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.resx
  src/UI/WB.UI.Designer/questionnaire/views/tree.html
  src/UI/WB.UI.Designer/questionnaire/views/treegroup.html
  src/UI/WB.UI.Designer/questionnaire/views/treequestion.html
  src/UI/WB.UI.Designer/questionnaire/views/treestatictext.html
  src/UI/WB.UI.Designer/questionnaire/views/treevariable.html
Labels: none
