Repository surveysolutions/surveysolutions, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, tests, installator

.github/labeler.yml:

# core:
#   - src/Core/**/*
#   - src/Infrastructure/**/*
#   - '!src/Core/BoundedContexts/**/*'
#   - '!src/Infrastructure/WB.Persistence.*/**/*'
# hq:
#   - src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/**/*
#   - src/UI/WB.UI.Headquarters.Core/**/*
#   - src/UI/WB.UI.Frontend/**/*
migrations:
  - src/Infrastructure/WB.Persistence.*/**/*
# export:
#   - src/Services/**/*
# android:
#   - src/UI/Interviewer/WB.UI.Interviewer/**/*
#   - src/UI/Supervisor/**/*
#   - src/UI/Tester/**/*
#   - src/UI/Shared/WB.UI.Shared.Enumerator/**/*
#   - src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/**/*
#   - src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/**/*
#   - src/Core/BoundedContexts/Tester/**/*
# designer:
#   - src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/**/*
#   - src/UI/Designer/WB.UI.Designer/**/*
tests:
  - src/Tests/**/*
  - src/Services/Export/WB.Services.Export.Tests/**/*
# vue:
#   - src/UI/WB.UI.Frontend/**/*
#   - src/UI/WB.UI.Designer/questionnaire-app/**/*
installator:
  - src/Installation/**/*
# version_bump:
#   - src/.version

KP-14366 Variables on designer
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Aggregates/Questionnaire.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ar.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.resx
  src/UI/WB.UI.Designer/questionnaire/views/tree.html
  src/UI/WB.UI.Designer/questionnaire/views/treegroup.html
  src/UI/WB.UI.Designer/questionnaire/views/treequestion.html
  src/UI/WB.UI.Designer/questionnaire/views/treestatictext.html
  src/UI/WB.UI.Designer/questionnaire/views/treevariable.html
Labels: none

KP-14366 Variables on designer
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Aggregates/Questionnaire.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ar.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.resx
  src/UI/WB.UI.Designer/questionnaire/views/tree.html
  src/UI/WB.UI.Designer/questionnaire/views/treegroup.html
  src/UI/WB.UI.Designer/questionnaire/views/treequestion.html
  src/UI/WB.UI.Designer/questionnaire/views/treestatictext.html
  src/UI/WB.UI.Designer/questionnaire/views/treevariable.html
Labels: none

KP-14361 Installer issue [fix version check]
  src/SurveySolutionsBootstrap/Bundle.wxs
  src/SurveySolutionsProduct/Product.wxs
Labels: none

KP-14361 Installer issue [fix version check]
  src/Installation/SurveySolutions/SurveySolutionsBootstrap/Bundle.wxs
  src/Installation/SurveySolutions/SurveySolutionsProduct/Product.wxs
Labels: installator

fix tests
  src/Core/Infrastructure/WB.Core.Infrastructure/Implementation/Aggregates/AggregateRootCache.cs
  src/Tests/WB.Tests.Abc/TestFactories/StorageFactory.cs
  src/Tests/WB.Tests.Unit/Infrastructure/AggregateRootCacheTests.cs
  src/UI/WB.UI.WebTester/Services/Implementation/WebTesterAggregateCache.cs
Labels: tests

Fix code and tests
  src/Tests/WB.Tests.Abc/TestFactories/StorageFactory.cs
  src/Tests/WB.Tests.Unit/Infrastructure/AggregateRootCacheTests.cs
  src/UI/WB.UI.WebTester/Services/Implementation/WebTesterAggregateCache.cs
Labels: tests

KP-14360 Exception on tester [log removing AR from cache]
  src/Core/Infrastructure/WB.Core.Infrastructure/Implementation/Aggregates/AggregateRootCache.cs
Labels: none

KP-14360 Exception on tester
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/SingleOptionLinkedToListQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/EnablementViewModel.cs
Labels: none

fix tests
  src/Core/Infrastructure/WB.Core.Infrastructure/Implementation/Aggregates/AggregateRootCache.cs
  src/Tests/WB.Tests.Abc/TestFactories/StorageFactory.cs
  src/Tests/WB.Tests.Unit/Infrastructure/AggregateRootCacheTests.cs
  src/UI/WB.UI.WebTester/Services/Implementation/WebTesterAggregateCache.cs
Labels: tests

KP-14360 Exception on tester [log removing AR from cache]
  src/Core/Infrastructure/WB.Core.Infrastructure/Implementation/Aggregates/AggregateRootCache.cs
Labels: none

KP-14360 Exception on tester [log removing AR from cache]
  src/Core/Infrastructure/WB.Core.Infrastructure/Implementation/Aggregates/AggregateRootCache.cs
Labels: none

fix tests
  src/Core/Infrastructure/WB.Core.Infrastructure/Implementation/Aggregates/AggregateRootCache.cs
  src/Tests/WB.Tests.Abc/TestFactories/StorageFactory.cs
  src/Tests/WB.Tests.Unit/Infrastructure/AggregateRootCacheTests.cs
  src/UI/WB.UI.WebTester/Services/Implementation/WebTesterAggregateCache.cs
Labels: tests

fix build
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/EnablementViewModel.cs
Labels: none

KP-14360 Exception on tester
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/SingleOptionLinkedToListQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/EnablementViewModel.cs
Labels: none

fix build
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/EnablementViewModel.cs
Labels: none

fix build
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/EnablementViewModel.cs
Labels: none

Fix code and tests
  src/Tests/WB.Tests.Abc/TestFactories/StorageFactory.cs
  src/Tests/WB.Tests.Unit/Infrastructure/AggregateRootCacheTests.cs
  src/UI/WB.UI.WebTester/Services/Implementation/WebTesterAggregateCache.cs
Labels: tests

Fix code and tests
  src/Tests/WB.Tests.Abc/TestFactories/StorageFactory.cs
  src/Tests/WB.Tests.Unit/Infrastructure/AggregateRootCacheTests.cs
  src/UI/WB.UI.WebTester/Services/Implementation/WebTesterAggregateCache.cs
Labels: tests

KP-14360 Exception on tester
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/SingleOptionLinkedToListQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/EnablementViewModel.cs
Labels: none

KP-14366 Variables on web interview
  src/Core/SharedKernels/DataCollection/DataCollection/Aggregates/IStatefulInterview.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/InterviewEntities/InterviewTreeVariable.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/StatefulInterview.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Entities/PlainQuestionnaire.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Controllers/InterviewDataController.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/InterviewEntityType.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/PrefilledPageData.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/WebInterivewDtos.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/WebInterviewAutoMapProfile.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Services/WebInterviewInterviewEntityFactory.cs
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/Variable.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/index.js
Labels: none

KP-14366 Variables on web interview
  src/Core/SharedKernels/DataCollection/DataCollection/Aggregates/IStatefulInterview.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/InterviewEntities/InterviewTreeVariable.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/StatefulInterview.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Entities/PlainQuestionnaire.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Controllers/InterviewDataController.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/InterviewEntityType.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/PrefilledPageData.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/WebInterivewDtos.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/WebInterviewAutoMapProfile.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Services/WebInterviewInterviewEntityFactory.cs
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/Variable.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/index.js
Labels: none

KP-14366 Variables on web interview
  src/Core/SharedKernels/DataCollection/DataCollection/Aggregates/IStatefulInterview.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/InterviewEntities/InterviewTreeVariable.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/StatefulInterview.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Entities/PlainQuestionnaire.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Controllers/InterviewDataController.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/InterviewEntityType.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/PrefilledPageData.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/WebInterivewDtos.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/WebInterviewAutoMapProfile.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Services/WebInterviewInterviewEntityFactory.cs
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/Variable.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/index.js
Labels: none

KP-14366 Variables on web interview with refresh
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/WebInterviewAutoMapProfile.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Services/WebInterviewInterviewEntityFactory.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Services/WebInterviewNotificationService.cs
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/Variable.vue
Labels: none

KP-14366 Variables on web interview with refresh
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/WebInterviewAutoMapProfile.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Services/WebInterviewInterviewEntityFactory.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Services/WebInterviewNotificationService.cs
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/Variable.vue
Labels: none

KP-14366 Variables on web interview with refresh
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/WebInterviewAutoMapProfile.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Services/WebInterviewInterviewEntityFactory.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Services/WebInterviewNotificationService.cs
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/Variable.vue
Labels: none

KP-14366 added test
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.ru.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/VariableVerifications.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/VariableVerificationsTests.cs
Labels: tests

KP-14366 added test
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.ru.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/VariableVerifications.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/VariableVerificationsTests.cs
Labels: tests

KP-14366 added test
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.ru.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/VariableVerifications.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/VariableVerificationsTests.cs
Labels: tests

KP-14350 SignalR diagnostics added to admin page
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Administration/Diagnostics.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/SignalrDiagnosticHub.cs
  src/UI/WB.UI.Headquarters.Core/Startup.cs
Labels: none

KP-14350 SignalR diagnostics added to admin page
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Administration/Diagnostics.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/SignalrDiagnosticHub.cs
  src/UI/WB.UI.Headquarters.Core/Startup.cs
Labels: none

KP-14350 SignalR diagnostics added to admin page
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Administration/Diagnostics.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/SignalrDiagnosticHub.cs
  src/UI/WB.UI.Headquarters.Core/Startup.cs
Labels: none

KP-14350 Added minor styling
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Administration/Diagnostics.vue
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: none

KP-14350 Added minor styling
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Administration/Diagnostics.vue
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: none

KP-14350 Added minor styling
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Administration/Diagnostics.vue
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: none

KP-14350 Respond only to caller
  src/UI/WB.UI.Headquarters.Core/Controllers/SignalrDiagnosticHub.cs
Labels: none

KP-14350 Respond only to caller
  src/UI/WB.UI.Headquarters.Core/Controllers/SignalrDiagnosticHub.cs
Labels: none

KP-14350 Respond only to caller
  src/UI/WB.UI.Headquarters.Core/Controllers/SignalrDiagnosticHub.cs
Labels: none

Scoped inject of export settings
  src/Core/Infrastructure/WB.Infrastructure.AspNetCore/HttpClientFactoryExtensions.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/Implementation/PostgresKeyValueStorage.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/Implementation/PostgresKeyValueStorageWithCache.cs
  src/UI/WB.UI.Headquarters.Core/Services/ExportServiceApiConfigurator.cs
Labels: none

Scoped inject of export settings
  src/Core/Infrastructure/WB.Infrastructure.AspNetCore/HttpClientFactoryExtensions.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/Implementation/PostgresKeyValueStorage.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/Implementation/PostgresKeyValueStorageWithCache.cs
  src/UI/WB.UI.Headquarters.Core/Services/ExportServiceApiConfigurator.cs
Labels: none

Scoped inject of export settings
  src/Core/Infrastructure/WB.Infrastructure.AspNetCore/HttpClientFactoryExtensions.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/Implementation/PostgresKeyValueStorage.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/Implementation/PostgresKeyValueStorageWithCache.cs
  src/UI/WB.UI.Headquarters.Core/Services/ExportServiceApiConfigurator.cs
Labels: none
