Repository surveysolutions/surveysolutions, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, tests, installator

.github/labeler.yml:

# core:
#   - src/Core/**/*
#   - src/Infrastructure/**/*
#   - '!src/Core/BoundedContexts/**/*'
#   - '!src/Infrastructure/WB.Persistence.*/**/*'
# hq:
#   - src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/**/*
#   - src/UI/WB.UI.Headquarters.Core/**/*
#   - src/UI/WB.UI.Frontend/**/*
migrations:
  - src/Infrastructure/WB.Persistence.*/**/*
# export:
#   - src/Services/**/*
# android:
#   - src/UI/Interviewer/WB.UI.Interviewer/**/*
#   - src/UI/Supervisor/**/*
#   - src/UI/Tester/**/*
#   - src/UI/Shared/WB.UI.Shared.Enumerator/**/*
#   - src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/**/*
#   - src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/**/*
#   - src/Core/BoundedContexts/Tester/**/*
# designer:
#   - src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/**/*
#   - src/UI/Designer/WB.UI.Designer/**/*
tests:
  - src/Tests/**/*
  - src/Services/Export/WB.Services.Export.Tests/**/*
# vue:
#   - src/UI/WB.UI.Frontend/**/*
#   - src/UI/WB.UI.Designer/questionnaire-app/**/*
installator:
  - src/Installation/**/*
# version_bump:
#   - src/.version

KP-14368 do not allow linking to hidden variable
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.ru.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/QuestionnaireVerifications.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/ErrorsTests.cs
Labels: tests

KP-14368 do not allow linking to hidden variable
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.ru.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/QuestionnaireVerifications.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/ErrorsTests.cs
Labels: tests

KP-14242 Add filter by status to survey statistics report
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/IInterviewReportDataRepository.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/Data/GetCategoricalReportParams.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/Data/InterviewReportDataRepository.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/SurveyStatisticsReport.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/SurveyStatisticsReportInputModel.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/ReportsTests/when_build_report.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Reports/SurveyStatistics.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Reports/SurveyStatisticsFilter.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Models/Statistics/SurveyStatisticsQuery.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/StatisticsController.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/ReportsController.cs
  src/WB without Xamarin.sln.DotSettings
Labels: tests

KP-14242 Add filter by status to survey statistics report
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/IInterviewReportDataRepository.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/Data/GetCategoricalReportParams.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/Data/InterviewReportDataRepository.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/SurveyStatisticsReport.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/SurveyStatisticsReportInputModel.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/ReportsTests/when_build_report.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Reports/SurveyStatistics.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Reports/SurveyStatisticsFilter.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Models/Statistics/SurveyStatisticsQuery.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/StatisticsController.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/ReportsController.cs
  src/WB without Xamarin.sln.DotSettings
Labels: tests

KP-14242 Add filter by status to survey statistics report
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/IInterviewReportDataRepository.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/Data/GetCategoricalReportParams.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/Data/InterviewReportDataRepository.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/SurveyStatisticsReport.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Reposts/SurveyStatistics/SurveyStatisticsReportInputModel.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/ReportsTests/when_build_report.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Reports/SurveyStatistics.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Reports/SurveyStatisticsFilter.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Models/Statistics/SurveyStatisticsQuery.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/StatisticsController.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/ReportsController.cs
  src/WB without Xamarin.sln.DotSettings
Labels: tests

Removed modern build
  src/UI/WB.UI.Frontend/package.json
Labels: none

Removed modern build
  src/UI/WB.UI.Frontend/package.json
Labels: none

Removed modern build
  src/UI/WB.UI.Frontend/package.json
Labels: none

Attempt to fix build
  src/UI/WB.UI.Frontend/yarn.lock
Labels: none

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [change alert to panel]
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.resx
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Layout/dashboard.axml
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Layout/notification_panel.axml
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Values/dashboard_notifications.xml
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Values/dimensions_notifications.xml
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
Labels: none

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [change alert to panel]
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.resx
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Layout/dashboard.axml
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Layout/notification_panel.axml
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Values/dashboard_notifications.xml
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Values/dimensions_notifications.xml
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
Labels: none

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [change alert to panel]
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.resx
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Layout/dashboard.axml
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Layout/notification_panel.axml
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Values/dashboard_notifications.xml
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Values/dimensions_notifications.xml
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
Labels: none

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [remove extra designers files]
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.ru.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/WB.Core.SharedKernels.Enumerator.csproj
Labels: none

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [remove extra designers files]
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.ru.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/WB.Core.SharedKernels.Enumerator.csproj
Labels: none

KP-12233 Need to alert the interviewer that the clock setting is obviously wrong [remove extra designers files]
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.ru.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/WB.Core.SharedKernels.Enumerator.csproj
Labels: none

KP-14367 App crashes after opening Area question for new interview
  src/UI/Shared/WB.UI.Shared.Extensions/CustomServices/AreaEditor/AreaEditorViewModel.cs
Labels: none

KP-14367 App crashes after opening Area question for new interview
  src/UI/Shared/WB.UI.Shared.Extensions/CustomServices/AreaEditor/AreaEditorViewModel.cs
Labels: none

KP-14367 App crashes after opening Area question for new interview
  src/UI/Shared/WB.UI.Shared.Extensions/CustomServices/AreaEditor/AreaEditorViewModel.cs
Labels: none

KP-14368 do not navigate into stub links
  src/UI/WB.UI.Frontend/src/webinterview/directives/LinkToRoute.js
Labels: none

KP-14368 do not navigate into stub links
  src/UI/WB.UI.Frontend/src/webinterview/directives/LinkToRoute.js
Labels: none

KP-14368 do not navigate into stub links
  src/UI/WB.UI.Frontend/src/webinterview/directives/LinkToRoute.js
Labels: none

KP-14371 Adding more details on error that occur during startup
  src/Core/Infrastructure/WB.Core.Infrastructure/Modularity/Autofac/AutofacKernel.cs
  src/Core/Infrastructure/WB.Core.Infrastructure/Modularity/UnderConstructionInfo.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/InitializationExceptionExtensions.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/OrmModule.cs
Labels: none

KP-14371 Adding more details on error that occur during startup
  src/Core/Infrastructure/WB.Core.Infrastructure/Modularity/Autofac/AutofacKernel.cs
  src/Core/Infrastructure/WB.Core.Infrastructure/Modularity/UnderConstructionInfo.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/InitializationExceptionExtensions.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/OrmModule.cs
Labels: none

KP-14371 Adding more details on error that occur during startup
  src/Core/Infrastructure/WB.Core.Infrastructure/Modularity/Autofac/AutofacKernel.cs
  src/Core/Infrastructure/WB.Core.Infrastructure/Modularity/UnderConstructionInfo.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/InitializationExceptionExtensions.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/OrmModule.cs
Labels: none

KP-14238 interviews page and graphql
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Repositories/HqQuestionnaireStorage.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/InterviewSummary.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Entities/PlainQuestionnaire.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/VariableViewModel.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/HeadquartersQuery.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/AnswerObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/CategoricalOptionType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/EntityItemObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/EntityTypeObjectType.cs
Labels: none

KP-14238 interviews page and graphql
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Repositories/HqQuestionnaireStorage.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/InterviewSummary.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Entities/PlainQuestionnaire.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/VariableViewModel.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/HeadquartersQuery.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/AnswerObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/CategoricalOptionType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/EntityItemObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/EntityTypeObjectType.cs
Labels: none

KP-14238 interviews page and graphql
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Repositories/HqQuestionnaireStorage.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/InterviewSummary.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Entities/PlainQuestionnaire.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/VariableViewModel.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/HeadquartersQuery.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/AnswerObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/CategoricalOptionType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/EntityItemObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/EntityTypeObjectType.cs
Labels: none

KP-14371 Export Service should also retry db connection longer
  src/Services/Core/WB.Services.Scheduler/Services/Implementation/BackgroundExportService.cs
Labels: none

KP-14371 Export Service should also retry db connection longer
  src/Services/Core/WB.Services.Scheduler/Services/Implementation/BackgroundExportService.cs
Labels: none

KP-14371 Export Service should also retry db connection longer
  src/Services/Core/WB.Services.Scheduler/Services/Implementation/BackgroundExportService.cs
Labels: none

KP-14238 table and columns renames
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Mappings/InterviewSummaryMap.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/AllInterviewsFactory.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/IdentifyEntityValue.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/InterviewSummary.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/QuestionAnswer.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/ReadSide/M2020/M202010231521_RenameTablesAndColumns.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/EventHandlers/Interview/InterviewSummaryEventHandlerFunctionalTests/InterviewSummaryEventHandlerUpdateAnswerTest.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/ViewsTests/InterviewTests/InterviewSummaryTests/when_create_interview_summary_with_GPS_prefilled.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/AnswerObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/InterviewsFilterInputType.cs
Labels: migrations, tests

KP-14238 table and columns renames
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Mappings/InterviewSummaryMap.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/AllInterviewsFactory.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/IdentifyEntityValue.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/InterviewSummary.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/QuestionAnswer.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/ReadSide/M2020/M202010231521_RenameTablesAndColumns.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/EventHandlers/Interview/InterviewSummaryEventHandlerFunctionalTests/InterviewSummaryEventHandlerUpdateAnswerTest.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/ViewsTests/InterviewTests/InterviewSummaryTests/when_create_interview_summary_with_GPS_prefilled.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/AnswerObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/InterviewsFilterInputType.cs
Labels: migrations, tests

KP-14238 table and columns renames
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Mappings/InterviewSummaryMap.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/AllInterviewsFactory.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/IdentifyEntityValue.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/InterviewSummary.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/QuestionAnswer.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/ReadSide/M2020/M202010231521_RenameTablesAndColumns.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/EventHandlers/Interview/InterviewSummaryEventHandlerFunctionalTests/InterviewSummaryEventHandlerUpdateAnswerTest.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/ViewsTests/InterviewTests/InterviewSummaryTests/when_create_interview_summary_with_GPS_prefilled.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/AnswerObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/Interview.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Interviews/InterviewsFilterInputType.cs
Labels: migrations, tests

KP-14248 Allow approving of rejected and received interviews. Add warning and checkbox [minor improvements]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none

KP-14248 Allow approving of rejected and received interviews. Add warning and checkbox [minor changes]
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none

KP-14238 added test
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/PlainQuestionnaireTests/PlainQuestionnaireTests.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/QuestionsResolver.cs
Labels: tests

KP-14238 added test
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/PlainQuestionnaireTests/PlainQuestionnaireTests.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/QuestionsResolver.cs
Labels: tests

KP-14238 added test
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/PlainQuestionnaireTests/PlainQuestionnaireTests.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/QuestionsResolver.cs
Labels: tests

KP-14238 fixed search
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none

KP-14238 fixed search
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
Labels: none
