Repository surveysolutions/surveysolutions, changes with the labels that .github/labeler.yml gives for each.
All labels: migrations, tests, installator

.github/labeler.yml:

# core:
#   - src/Core/**/*
#   - src/Infrastructure/**/*
#   - '!src/Core/BoundedContexts/**/*'
#   - '!src/Infrastructure/WB.Persistence.*/**/*'
# hq:
#   - src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/**/*
#   - src/UI/WB.UI.Headquarters.Core/**/*
#   - src/UI/WB.UI.Frontend/**/*
migrations:
  - src/Infrastructure/WB.Persistence.*/**/*
# export:
#   - src/Services/**/*
# android:
#   - src/UI/Interviewer/WB.UI.Interviewer/**/*
#   - src/UI/Supervisor/**/*
#   - src/UI/Tester/**/*
#   - src/UI/Shared/WB.UI.Shared.Enumerator/**/*
#   - src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/**/*
#   - src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/**/*
#   - src/Core/BoundedContexts/Tester/**/*
# designer:
#   - src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/**/*
#   - src/UI/Designer/WB.UI.Designer/**/*
tests:
  - src/Tests/**/*
  - src/Services/Export/WB.Services.Export.Tests/**/*
# vue:
#   - src/UI/WB.UI.Frontend/**/*
#   - src/UI/WB.UI.Designer/questionnaire-app/**/*
installator:
  - src/Installation/**/*
# version_bump:
#   - src/.version

KP-14351 Audio audit crash
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomServices/AudioService.cs
Labels: none

KP-14351 Audio audit crash
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomServices/AudioService.cs
Labels: none

KP-14354 Diagnostics Server Metrics are not displayed
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Administration/Diagnostics.vue
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: none

KP-14354 Diagnostics Server Metrics are not displayed
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Administration/Diagnostics.vue
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: none

KP-14354 Diagnostics Server Metrics are not displayed
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Administration/Diagnostics.vue
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Diagnostics.ru.resx
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: none

KP-14360 Exception on tester
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/SingleOptionLinkedToListQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/EnablementViewModel.cs
Labels: none

KP-14331 fixed bugs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CompletedEmails/SendInterviewCompletedJob.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterview/Finish.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterview/Resume.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterview/Start.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 fixed bugs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CompletedEmails/SendInterviewCompletedJob.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterview/Finish.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterview/Resume.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterview/Start.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 fixed bugs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CompletedEmails/SendInterviewCompletedJob.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterview/Finish.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterview/Resume.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterview/Start.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 removed sanitiser on preview
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
Labels: none

KP-14331 removed sanitiser on preview
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
Labels: none

KP-14331 removed sanitiser on preview
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/WebInterviewSetup/Settings.vue
Labels: none

KP-14331 changed mode for editor
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 changed mode for editor
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 changed mode for editor
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 ability to pass <> in javascript models
  src/UI/WB.UI.Headquarters.Core/Code/Extensions.cs
  src/UI/WB.UI.Headquarters.Core/Code/JsonJavaScriptEncodeConverter.cs
Labels: none

KP-14331 ability to pass <> in javascript models
  src/UI/WB.UI.Headquarters.Core/Code/Extensions.cs
  src/UI/WB.UI.Headquarters.Core/Code/JsonJavaScriptEncodeConverter.cs
Labels: none

KP-14331 ability to pass <> in javascript models
  src/UI/WB.UI.Headquarters.Core/Code/Extensions.cs
  src/UI/WB.UI.Headquarters.Core/Code/JsonJavaScriptEncodeConverter.cs
Labels: none

KP-14344 device type added to interview resumed event
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/Interview/OpenInterviewBySupervisorCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/Interview/ResumeInterviewCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/AgentDeviceType.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewResumed.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/StatefulInterview.cs
  src/Tests/WB.Tests.Abc/TestFactories/CommandFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/EventFactory.cs
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/InterviewViewModel.cs
  src/UI/WB.UI.Headquarters.Core/Code/WebInterview/Pipeline/PauseResumePipelineModule.cs
Labels: tests

KP-14344 device type added to interview resumed event
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/Interview/OpenInterviewBySupervisorCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/Interview/ResumeInterviewCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/AgentDeviceType.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewResumed.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/StatefulInterview.cs
  src/Tests/WB.Tests.Abc/TestFactories/CommandFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/EventFactory.cs
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/InterviewViewModel.cs
  src/UI/WB.UI.Headquarters.Core/Code/WebInterview/Pipeline/PauseResumePipelineModule.cs
Labels: tests

KP-14344 device type added to interview resumed event
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/Interview/OpenInterviewBySupervisorCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/Interview/ResumeInterviewCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/AgentDeviceType.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewResumed.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/StatefulInterview.cs
  src/Tests/WB.Tests.Abc/TestFactories/CommandFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/EventFactory.cs
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/InterviewViewModel.cs
  src/UI/WB.UI.Headquarters.Core/Code/WebInterview/Pipeline/PauseResumePipelineModule.cs
Labels: tests

KP-14331 use custom sanitizer
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 use custom sanitizer
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 use custom sanitizer
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 added supportHtml flag
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 added supportHtml flag
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 added supportHtml flag
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14238 Preferences screens
  src/UI/Interviewer/WB.UI.Interviewer/Activities/PrefsActivity.cs
  src/UI/Interviewer/WB.UI.Interviewer/Resources/xml/preferences.xml
  src/UI/Supervisor/WB.UI.Supervisor/Activities/PrefsActivity.cs
  src/UI/Supervisor/WB.UI.Supervisor/Resources/xml/preferences.xml
  src/UI/Tester/WB.UI.Tester/Activities/PrefsActivity.cs
  src/UI/Tester/WB.UI.Tester/Infrastructure/Internals/Settings/TesterSettings.cs
  src/UI/Tester/WB.UI.Tester/Resources/xml/preferences.xml
Labels: none

KP-14238 Preferences screens
  src/UI/Interviewer/WB.UI.Interviewer/Activities/PrefsActivity.cs
  src/UI/Interviewer/WB.UI.Interviewer/Resources/xml/preferences.xml
  src/UI/Supervisor/WB.UI.Supervisor/Activities/PrefsActivity.cs
  src/UI/Supervisor/WB.UI.Supervisor/Resources/xml/preferences.xml
  src/UI/Tester/WB.UI.Tester/Activities/PrefsActivity.cs
  src/UI/Tester/WB.UI.Tester/Infrastructure/Internals/Settings/TesterSettings.cs
  src/UI/Tester/WB.UI.Tester/Resources/xml/preferences.xml
Labels: none

KP-14238 Preferences screens
  src/UI/Interviewer/WB.UI.Interviewer/Activities/PrefsActivity.cs
  src/UI/Interviewer/WB.UI.Interviewer/Resources/xml/preferences.xml
  src/UI/Supervisor/WB.UI.Supervisor/Activities/PrefsActivity.cs
  src/UI/Supervisor/WB.UI.Supervisor/Resources/xml/preferences.xml
  src/UI/Tester/WB.UI.Tester/Activities/PrefsActivity.cs
  src/UI/Tester/WB.UI.Tester/Infrastructure/Internals/Settings/TesterSettings.cs
  src/UI/Tester/WB.UI.Tester/Resources/xml/preferences.xml
Labels: none

KP-14361 Installer issue
  src/Installation/SurveySolutions/SurveySolutionsBootstrap/Bundle.wxs
  src/Installation/SurveySolutions/SurveySolutionsBootstrap/NetCoreChecker.wxs
  src/Installation/SurveySolutions/SurveySolutionsProduct/Product.wxs
Labels: installator

KP-14360 Exception on tester [log removing AR from cache]
  src/Core/Infrastructure/WB.Core.Infrastructure/Implementation/Aggregates/AggregateRootCache.cs
Labels: none

KP-14362 Tablet Exception [move check to constructor]
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Implementation/Services/InterviewerPrincipal.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/CreateInterview/CreateAndLoadInterviewViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/FinishInstallationViewModel.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/RelinkDeviceViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/PrefilledQuestionsViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/SupervisorInterviewViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/SupervisorOfflineSyncViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/DashboardViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/InterviewViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/LoginViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/PrefilledQuestionsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BasePrefilledQuestionsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelOfT.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/BaseViewModelSetupMethods.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/DiagnosticsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/EnumeratorFinishInstallationViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/EnumeratorLoginViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/BaseInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SingleInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewLoading/LoadingInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/ProgressViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/SearchViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/MapsViewModel.cs
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/InterviewViewModel.cs
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/PrefilledQuestionsViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/CustomServices/MapDashboard/MapDashboardViewModel.cs
Labels: tests

KP-14238 add support for int preferences
  src/UI/Interviewer/WB.UI.Interviewer/Activities/PrefsActivity.cs
Labels: none

KP-14238 add support for int preferences
  src/UI/Interviewer/WB.UI.Interviewer/Activities/PrefsActivity.cs
Labels: none

KP-14238 add support for int preferences
  src/UI/Interviewer/WB.UI.Interviewer/Activities/PrefsActivity.cs
Labels: none

KP-14331 added unescape on set value
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 added unescape on set value
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 added unescape on set value
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none

KP-14331 disable preview
  src/UI/WB.UI.Frontend/src/hqapp/components/MdEditor.vue
Labels: none
