Repository surveysolutions/surveysolutions, pull requests merged in 2022-12, with the labels that each got.

#2185 Inconsistency in categories produces invalid template for preloading …
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Aggregates/Questionnaire.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/DataExport/Denormalizers/ExportViewFactory.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Entities/PlainQuestionnaire.cs
  src/Tests/WB.Tests.Abc/TestFactories/EntityFactory.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/UpdateSingleOptionQuestionHandlerTests/UpdateOptionsTests.cs
  src/UI/WB.UI.Designer/Resources/ErrorMessages.Designer.cs
  src/UI/WB.UI.Designer/Resources/ErrorMessages.resx
  src/UI/WB.UI.Designer/Resources/ErrorMessages.ru.resx
  src/UI/WB.UI.WebTester/Infrastructure/AppDomainSpecific/IWebTesterTranslationService.cs
  src/UI/WB.UI.WebTester/Infrastructure/AppDomainSpecific/WebTesterPlainQuestionnaire.cs
  src/UI/WB.UI.WebTester/Infrastructure/AppDomainSpecific/WebTesterTranslationService.cs
Labels: rc, tests

#2191 Fixed error handling #2177
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Admin/EmailProviders.vue
  src/UI/WB.UI.Frontend/src/webinterview/errors.js
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/AdminSettingsController.cs
Labels: rc

#2194 fix handling of points count
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/GeographyEditorViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/GeometryHelper.cs
Labels: rc

#2198 reset media player changes
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/AttachmentViewModel.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ExoPlayerBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/Models/MediaAttachment.cs
Labels: rc

#2203 Answers on Cover page are not disabled for interviewers #2201
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Entities/PlainQuestionnaire.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Controllers/InterviewDataController.cs
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/package.json
Labels: rc

#2189 Rc
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Aggregates/Questionnaire.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/DataExport/Denormalizers/ExportViewFactory.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EmailProviders/SendGridEmailService.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Entities/PlainQuestionnaire.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/AreaQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/AttachmentViewModel.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Controllers/InterviewDataController.cs
  src/Services/Export/WB.Services.Export/Infrastructure/TenantDbContext.cs
  src/Services/Export/WB.Services.Export/InterviewDataStorage/Services/QuestionnaireSchemaGenerator.cs
  src/Services/Export/WB.Services.Export/Jobs/JobsStatusReporting.cs
  src/Tests/WB.Tests.Abc/TestFactories/EntityFactory.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/UpdateSingleOptionQuestionHandlerTests/UpdateOptionsTests.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ExoPlayerBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/Models/MediaAttachment.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Services/MapInteractionService.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/BaseMapInteractionViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/GeographyEditorViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/GeographyEditorViewModelArgs.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/GeometryHelper.cs
  src/UI/WB.UI.Designer/Resources/ErrorMessages.Designer.cs
  src/UI/WB.UI.Designer/Resources/ErrorMessages.resx
  src/UI/WB.UI.Designer/Resources/ErrorMessages.ru.resx
  src/UI/WB.UI.Designer/package-lock.json
  src/UI/WB.UI.Designer/questionnaire-app/package-lock.json
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/package.json
  src/UI/WB.UI.Frontend/src/assets/css/_buttons.scss
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Admin/EmailProviders.vue
  src/UI/WB.UI.Frontend/src/webinterview/errors.js
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/AdminSettingsController.cs
  src/UI/WB.UI.Headquarters.Core/Views/Interview/InterviewAreaFrame.cshtml
  src/UI/WB.UI.WebTester/Infrastructure/AppDomainSpecific/IWebTesterTranslationService.cs
  src/UI/WB.UI.WebTester/Infrastructure/AppDomainSpecific/WebTesterPlainQuestionnaire.cs
  src/UI/WB.UI.WebTester/Infrastructure/AppDomainSpecific/WebTesterTranslationService.cs
Labels: tests, automerge

#2224 A shapefile consisting of -points- is not visualized in the Interviewer App. #2222
  src/UI/Shared/WB.UI.Shared.Extensions/Services/MapUtilityService.cs
Labels: rc

#2225 Rc
  build/publish.Tester.ps1
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.resx
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Workspaces/Workspace.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/AggregateRootEventExtensions.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/Invariants/InterviewPropertiesInvariants.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/AreaQuestionViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Services/MapUtilityService.cs
  src/UI/Tester/WB.UI.Tester/Infrastructure/Internals/Settings/TesterSettings.cs
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.Designer.cs
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.resx
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/UsersController.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/WorkspacesPublicApiController.cs
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewUI.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewUI.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Workspaces.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Workspaces.resx
  src/UI/WB.UI.Headquarters.Core/Services/Impl/QuestionnaireAssemblyAccessor.cs
Labels: automerge

#2202 update packages
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Commands/CommandUtils.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Invitations/EmailContent.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Invitations/QRCodeBuilder.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Services/IQRCodeHelper.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/WB.Core.BoundedContexts.Interviewer.csproj
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/WB.Core.BoundedContexts.Tester.csproj
  src/Core/Infrastructure/WB.Core.Infrastructure/WB.Core.Infrastructure.csproj
  src/Core/SharedKernels/Enumerator/Enumerator/WB.Core.SharedKernels.Enumerator.csproj
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WB.Enumerator.Native.Core.csproj
  src/Infrastructure/WB.Infrastructure.Native/Questionnaire/TranslationsExporter.cs
  src/Infrastructure/WB.Infrastructure.Native/Sanitizer/StringExtensions.cs
  src/Infrastructure/WB.Infrastructure.Native/WB.Infrastructure.Native.csproj
  src/Infrastructure/WB.Persistence.Designer/WB.Persistence.Designer.csproj
  src/Infrastructure/WB.Persistence.Headquarters/WB.Persistence.Headquarters.csproj
  src/Tests/WB.Tests.Abc/WB.Tests.Abc.csproj
  src/Tests/WB.Tests.Integration.Designer/WB.Tests.Integration.Designer.csproj
  src/Tests/WB.Tests.Integration/WB.Tests.Integration.csproj
  src/Tests/WB.Tests.Unit.Designer/Applications/QuestionnaireControllerTests/when_editing_options.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/TranslationServiceTests/when_questionnaire_contains_fixed_roster.cs
  src/Tests/WB.Tests.Unit.Designer/WB.Tests.Unit.Designer.csproj
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/Invitations/EmailContentTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/InterviewTests/when_answering_picture_question_and_answer_is_specified.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/StatefulInterviewTests/when_getting_question_comments_from_restored_interview_state_from_sync_package.cs
  src/Tests/WB.Tests.Unit/WB.Tests.Unit.csproj
  src/Tests/WB.Tests.Web/WB.Tests.Web.csproj
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/CalendarEventDialog.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/CoverInterviewFragment.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
  src/UI/Shared/WB.UI.Shared.Web.Core/WB.UI.Shared.Web.Core.csproj
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Headquarters.Core/Services/Impl/QRCodeBuilder.cs
  src/UI/WB.UI.Headquarters.Core/Services/Impl/QRCodeHelper.cs
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
  src/UI/WB.UI.WebTester/WB.UI.WebTester.csproj
Labels: rc, tests, migrations

#2226 RC to master
  .gitignore
Labels: automerge

#2227 Settings gps warnings
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Admin/Settings.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/AdminSettingsController.cs
Labels: rc

#2231 Release
  installer/src/SurveySolutionsBootstrap/NetCoreChecker.wxs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Admin/Settings.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/AdminSettingsController.cs
Labels: automerge
