Repository surveysolutions/surveysolutions, pull requests merged in 2022-10, with the labels that each got.

#2061 Variable is not calculated in web interviewer mode, while calculated …
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/InterviewEntities/InterviewTreeVariable.cs
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/CustomFunctions/CustomFunctionsTests.cs
Labels: rc, tests

#2063 Next section button is truncated #1757
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_group_navigation.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/styles-interview-group.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/styles-interview-question.xml
  src/UI/WB.UI.Frontend/package-lock.json
Labels: rc

#2067 Rc
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/InterviewEntities/InterviewTreeVariable.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Repositories/AttachmentContentStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Repositories/IAttachmentContentStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Services/IImageHelper.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/EnumerationStageViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Groups/FlatRosterViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Groups/RosterViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/AudioQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CascadingSingleOptionQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiComboboxViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiLinkedToListViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiLinkedToQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiLinkedToRosterTitleViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiViewModelBase.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalYesNoViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/AttachmentViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/IMediaAttachment.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/TextListQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SideBarSectionsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/SearchViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/AttachmentContentData.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/AttachmentPreviewContentData.cs
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/ViewModelFactory.cs
  src/Tests/WB.Tests.Integration/Setup.cs
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/CustomFunctions/CustomFunctionsTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/AttachmentViewModelTests/when_initializing_entity_with_image_attachment.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/AudioQuestionViewModelTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/CascadingSingleOptionQuestionViewModelTests/CascadingSingleOptionQuestionViewModelTestContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/MultiOptionLinkedQuestionViewModelTests/MultiOptionLinkedQuestionViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/MultiOptionLinkedToListQuestionQuestionViewModelTests/when_title_of_textlist_item_changed.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/MultiOptionQuestionViewModelTests/MultiOptionQuestionViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/RosterViewModelTests/RosterViewModelTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/RosterViewModelTests/when_roster_instances_added.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/RosterViewModelTests/when_roster_instances_removed.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/SidebarSectionsViewModelTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/TextListQuestionViewModelTests/TextListQuestionViewModelTestContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/YesNoQuestionViewModelTests/YesNoQuestionViewModelTestsContext.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ExoPlayerBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ImageViewBitmapWithFallbackBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/Models/MediaAttachment.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomControls/InterviewTemplateSelector.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorUIModule.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview__attachment_multimedia.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_group_navigation.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_question__attachment.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_question_categorical_combobox.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_question_categorical_combobox_with_attachment.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dimensions-interview.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/styles-interview-group.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/styles-interview-question.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/BitmapHelper.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/BaseMapInteractionViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/GeographyEditorViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/MapDashboardViewModel.cs
  src/UI/Tester/WB.UI.Tester/TesterAppStart.cs
  src/UI/WB.UI.Frontend/package-lock.json
Labels: tests, automerge

#2073 Cannot read properties of undefined (reading 'value') shows up for Ca…
  src/UI/WB.UI.Designer/questionnaire/scripts/controllers/question.js
Labels: rc

#2077 Rc
  src/UI/WB.UI.Designer/questionnaire/scripts/controllers/question.js
Labels: automerge

#2082 Hotfix 22 09 1
  src/.version
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/DataExport.Designer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/DataExport.resx
  src/Tests/WB.Tests.Web/Headquarters/Controllers/AssignmentsControllerTests.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/Captcha/CaptchaImageGenerator.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/WB.UI.Shared.Web.Core.csproj
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/AssignmentsController.cs
  src/UI/WB.UI.Headquarters.Core/Metrics/DashboardStatisticsService.cs
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: tests

#2083 Release
  src/.version
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/DataExport.Designer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/DataExport.resx
  src/Tests/WB.Tests.Web/Headquarters/Controllers/AssignmentsControllerTests.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/Captcha/CaptchaImageGenerator.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/WB.UI.Shared.Web.Core.csproj
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/AssignmentsController.cs
  src/UI/WB.UI.Headquarters.Core/Metrics/DashboardStatisticsService.cs
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: tests, automerge

#2089 use Symbol font in test
  src/Tests/WB.Tests.Unit/CaptchaImageGeneratorTests.cs
Labels: tests

#2113 try to fix test
  src/Tests/WB.Tests.Unit/CaptchaImageGeneratorTests.cs
Labels: tests
