Repository surveysolutions/surveysolutions, pull requests merged in 2022-07, with the labels that each got.

#1858 Identifying order
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/AssignmentImport/Preloading/PreloadedDataDto.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/AssignmentImport/Verifier/ImportDataVerifier.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Assignments/AssignmentDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Assignments/IdentifyingAnswer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Repositories/AssignmentDocumentsStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/Synchronization/AssignmentDocumentFromDtoBuilder.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/AssignmentDocument.cs
  src/Tests/WB.Tests.Abc/TestFactories/EntityFactory.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/Assignments/ImportDataVerifierTests.Answers.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/DashboardDenormalizerTests/InterviewDashboardEventHandlerTests.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/Services/SynchronizationProcessTests/AssignmentTests/AssignmentDocumentStorageTests.cs
Labels: tests

#1877 Variable cannot be pasted on Cover page #1855
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Aggregates/Questionnaire.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireTests/CopyPasteTests/CopyPasteEntitiesTests.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireTests/QuestionnaireTestsContext.cs
Labels: tests

#1891 Text substitution does not occur when it is possible #1740
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/InterviewEntities/SubstitutionText.cs
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/SubstitutionTextTests.cs
Labels: tests

#1889 "CREATED BY" field suspected incorrect in Designer #1878
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/QuestionnairePostProcessors/ListViewPostProcessor.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/MembershipProvider/Mappings/QuestionnaireListViewItemTypeConfig.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Views/Questionnaire/QuestionnaireList/QuestionnaireListViewFactory.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Views/Questionnaire/QuestionnaireList/QuestionnaireListViewItem.cs
  src/Infrastructure/WB.Persistence.Designer/Migrations/M2022/M202207121311_RenameColumnCreatedByToOwnerId.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/QuestionnaireListViewPostProcessorTests.cs
  src/Tests/WB.Tests.Unit.Designer/Create.cs
  src/UI/WB.UI.Designer/Areas/Admin/Pages/UserDetails.cshtml.cs
  src/UI/WB.UI.Designer/Code/IQuestionnaireHelper.cs
  src/UI/WB.UI.Designer/Code/QuestionnaireHelper.cs
  src/UI/WB.UI.Designer/Controllers/Api/Portal/PortalController.cs
  src/UI/WB.UI.Designer/Controllers/QuestionnaireController.cs
  src/UI/WB.UI.Designer/Controllers/QuestionnaireListController.cs
  src/UI/WB.UI.Designer/Models/QuestionnaireListViewModel.cs
  src/UI/WB.UI.Designer/Views/QuestionnaireList/_QuestionnairesList.cshtml
Labels: tests, migrations

#1907 Release
  src/.version
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/GroupVerifications.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/InterviewEntities/InterviewTreeVariable.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Entities/PlainQuestionnaire.cs
  src/Core/SharedKernels/DataCollection/DataCollection/WB.Core.SharedKernels.DataCollection.csproj
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Controllers/InterviewDataController.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Models/WebInterviewAutoMapProfile.cs
  src/Core/SharedKernels/Questionnaire/WB.Core.SharedKernels.Questionnaire/WB.Core.SharedKernels.Questionnaire.csproj
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/Implementation/Services/ViewModelNavigationService.cs
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
  src/UI/WB.UI.Frontend/src/webinterview/components/Breadcrumbs.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/parts/CommentItem.vue
  src/UI/WB.UI.WebTester/WB.UI.WebTester.csproj
Labels: automerge

#1911 Release
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Commands/Questionnaire/Base/AbstractUpdateQuestionCommand.cs
Labels: automerge
