Repository surveysolutions/surveysolutions, pull requests merged in 2022-09, with the labels that each got.

#2013 add "questionnaire"as a keyword. #2009
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/KeywordsProvider.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/KeywordsProviderTests.cs
  src/Tests/WB.Tests.Unit.Designer/Create.cs
Labels: tests

#2038 disable image margins for attachment options
  src/UI/Interviewer/WB.UI.Interviewer/CustomBindings/ImageCompanyLogoBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ImageViewBitmapWithFallbackBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ImageViewMarginsBitmapWithFallbackBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorSetup.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview__attachment_multimedia.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Supervisor/WB.UI.Supervisor/MvvmBindings/ImageCompanyLogoBinding.cs
Labels: rc

#2050 IN app crashes after removing the answer of single select question #2044
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/GroupNavigationViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/EnablementViewModel.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/Services/CompositeCollectionInflationServiceTests/CompositeCollectionInflationServiceTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/EnablementViewModelTests/EnablementViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/EnablementViewModelTests/when_question_enablement_model_updates_it_state_and_question_was_removed_from_interview.cs
Labels: rc, tests

#2053 Rc
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/GroupNavigationViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/EnablementViewModel.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/Services/CompositeCollectionInflationServiceTests/CompositeCollectionInflationServiceTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/EnablementViewModelTests/EnablementViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/EnablementViewModelTests/when_question_enablement_model_updates_it_state_and_question_was_removed_from_interview.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/EditTextSetFocusBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/TextViewOnDoneBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/TextViewUnderlinePressedBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/TextViewWatermarkBinding.cs
  src/UI/WB.UI.Designer/Areas/Pdf/Utils/UrlExtensions.cs
  src/UI/WB.UI.Designer/Areas/Pdf/Views/Pdf/RenderQuestionnaire.cshtml
  src/UI/WB.UI.Designer/Areas/Pdf/Views/Pdf/_RenderStaticText.cshtml
  src/UI/WB.UI.Designer/Controllers/Api/Designer/AttachmentsController.cs
  src/UI/WB.UI.Designer/Modules/DesignerWebModule.cs
  src/UI/WB.UI.Designer/Services/AttachmentPreview/AttachmentPreviewContent.cs
  src/UI/WB.UI.Designer/Services/AttachmentPreview/AttachmentPreviewHelper.cs
  src/UI/WB.UI.Designer/Services/AttachmentPreview/IAttachmentPreviewHelper.cs
  src/UI/WB.UI.Designer/Styles/designer-list.less
  src/UI/WB.UI.Designer/build/bundler.js
Labels: tests, automerge

#2052 Roster instances and multi combo box do not show up #2046
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/CoverInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiViewModelBase.cs
Labels: rc

#2040 Next section title is incorrect when shown on the cover page #2026
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.ru.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/QuestionnaireVerifications.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/GroupNavigationViewModel.cs
  src/Tests/WB.Tests.Unit.Designer/Applications/ImportExportQuestionnaire/QuestionnaireExportServiceTests-approved/QuestionnaireExportServiceTests.when_export_only_questionnaire_should_generate_valid_zip.approved.txt
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/DesignerEngineVersionServiceTests/DesignerEngineVersionServiceNUnitTests.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/QuestionnaireInfoFactoryTests/QuestionnaireInfoFactoryTestContext.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/QuestionnaireInfoViewFactoryTests/when_loading_non_empty_questionnaire.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/TranslationServiceTests/when_getting_translation_file_for_one_question.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/TranslationServiceTests/when_getting_translation_file_for_one_question_with_non_printable_char.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/TranslationServiceTests/when_questionnaire_contains_fixed_roster.cs
  src/Tests/WB.Tests.Unit.Designer/CodeGeneration/ExpressionsPlayOrderProviderTests.cs
  src/Tests/WB.Tests.Unit.Designer/Create.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireTests/when_deleting_last_group.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/QuestionnaireVerifierTests.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/QuestionnaireVerifierTestsContext.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/WarningsTests.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_group_without_questions_added.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_questionnaire_has_101_questions_and_3_sections.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_questionnaire_with_one_empty_section.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_empty_questionnaire.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_with_nested_group_level_11.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_with_one_question.cs
Labels: rc, tests

#2047 Navigation between sections is blocked after questionnaire reloading #2029
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/AnonymousQuestionnairesViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/InterviewViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/QuestionnaireDownloadViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Services/IViewModelNavigationService.cs
  src/UI/Interviewer/WB.UI.Interviewer/Implementations/Services/ViewModelNavigationService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/BaseViewModelNavigationService.cs
  src/UI/Supervisor/WB.UI.Supervisor/Services/Implementation/ViewModelNavigationService.cs
  src/UI/Tester/WB.UI.Tester/Implementation/Services/ViewModelNavigationService.cs
Labels: rc

#2055 Rc
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/VerificationMessages.ru.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/QuestionnaireVerifications.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/AnonymousQuestionnairesViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/InterviewViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/QuestionnaireDownloadViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Services/IViewModelNavigationService.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/GroupNavigationViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/CoverInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiViewModelBase.cs
  src/Tests/WB.Tests.Unit.Designer/Applications/ImportExportQuestionnaire/QuestionnaireExportServiceTests-approved/QuestionnaireExportServiceTests.when_export_only_questionnaire_should_generate_valid_zip.approved.txt
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/DesignerEngineVersionServiceTests/DesignerEngineVersionServiceNUnitTests.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/QuestionnaireInfoFactoryTests/QuestionnaireInfoFactoryTestContext.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/QuestionnaireInfoViewFactoryTests/when_loading_non_empty_questionnaire.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/TranslationServiceTests/when_getting_translation_file_for_one_question.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/TranslationServiceTests/when_getting_translation_file_for_one_question_with_non_printable_char.cs
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/TranslationServiceTests/when_questionnaire_contains_fixed_roster.cs
  src/Tests/WB.Tests.Unit.Designer/CodeGeneration/ExpressionsPlayOrderProviderTests.cs
  src/Tests/WB.Tests.Unit.Designer/Create.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireTests/when_deleting_last_group.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/QuestionnaireVerifierTests.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/QuestionnaireVerifierTestsContext.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/WarningsTests.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_group_without_questions_added.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_questionnaire_has_101_questions_and_3_sections.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_questionnaire_with_one_empty_section.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_empty_questionnaire.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_with_nested_group_level_11.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_with_one_question.cs
  src/UI/Interviewer/WB.UI.Interviewer/Implementations/Services/ViewModelNavigationService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/BaseViewModelNavigationService.cs
  src/UI/Supervisor/WB.UI.Supervisor/Services/Implementation/ViewModelNavigationService.cs
  src/UI/Tester/WB.UI.Tester/Implementation/Services/ViewModelNavigationService.cs
Labels: tests, automerge

#2043 Image previews on tablet
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Repositories/AttachmentContentStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Repositories/IAttachmentContentStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Services/IImageHelper.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/AudioQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CascadingSingleOptionQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiComboboxViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiLinkedToListViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiLinkedToQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiLinkedToRosterTitleViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiViewModelBase.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalYesNoViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/AttachmentViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/IMediaAttachment.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/AttachmentContentData.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/AttachmentPreviewContentData.cs
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/ViewModelFactory.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/AttachmentViewModelTests/when_initializing_entity_with_image_attachment.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/AudioQuestionViewModelTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/CascadingSingleOptionQuestionViewModelTests/CascadingSingleOptionQuestionViewModelTestContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/MultiOptionLinkedQuestionViewModelTests/MultiOptionLinkedQuestionViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/MultiOptionQuestionViewModelTests/MultiOptionQuestionViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/YesNoQuestionViewModelTests/YesNoQuestionViewModelTestsContext.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ExoPlayerBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ImageViewBitmapWithFallbackBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/Models/MediaAttachment.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorUIModule.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview__attachment_multimedia.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_question__attachment.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dimensions-interview.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/BitmapHelper.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/BaseMapInteractionViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/GeographyEditorViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/MapDashboardViewModel.cs
  src/UI/Tester/WB.UI.Tester/TesterAppStart.cs
Labels: rc, tests

#2060 Roster instances and multi combo box do not show up #2046
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/EnumerationStageViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Groups/FlatRosterViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Groups/RosterViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/CategoricalMultiLinkedToListViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/TextListQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SideBarSectionsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/SearchViewModel.cs
  src/Tests/WB.Tests.Abc/TestFactories/ViewModelFactory.cs
  src/Tests/WB.Tests.Integration/Setup.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/MultiOptionLinkedToListQuestionQuestionViewModelTests/when_title_of_textlist_item_changed.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/RosterViewModelTests/RosterViewModelTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/RosterViewModelTests/when_roster_instances_added.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/RosterViewModelTests/when_roster_instances_removed.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/SidebarSectionsViewModelTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/TextListQuestionViewModelTests/TextListQuestionViewModelTestContext.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomControls/InterviewTemplateSelector.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_question_categorical_combobox.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_question_categorical_combobox_with_attachment.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
Labels: rc, tests
