Repository surveysolutions/surveysolutions, pull requests merged in 2022-11, with the labels that each got.

#2144 2130 size limit
  src/Services/Export/WB.Services.Export.Tests/InterviewDataExport/QuestionnaireDatabaseStructureTests.cs
  src/Services/Export/WB.Services.Export.Tests/WithDatabase/PostgreSqlLimitTests.cs
  src/Services/Export/WB.Services.Export/InterviewDataStorage/InterviewDataExport/QuestionnaireLevelDatabaseTable.cs
Labels: tests

#2167 Hotfix 22 09 2
  src/.version
  src/Services/Export/WB.Services.Export.Tests/InterviewDataExport/QuestionnaireDatabaseStructureTests.cs
  src/Services/Export/WB.Services.Export.Tests/WithDatabase/PostgreSqlLimitTests.cs
  src/Services/Export/WB.Services.Export/Infrastructure/TenantDbContext.cs
  src/Services/Export/WB.Services.Export/InterviewDataStorage/InterviewDataExport/QuestionnaireLevelDatabaseTable.cs
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Export/ExportProcessCard.vue
Labels: tests

#2151 Multiple interview can be created from an assignments the size 1 #2079
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/HeadquartersBoundedContextModule.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Interview/Validators/AssignmentLimitInterviewValidator.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/CommandValidatorsMessages.Designer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/CommandValidatorsMessages.resx
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/CommandValidatorsMessages.ru.resx
  src/Core/Infrastructure/WB.Core.Infrastructure/Services/AggregateRootPrototypePromoterService.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Exceptions/InterviewDomainExceptionType.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/Resources/WebInterview.Designer.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/Resources/WebInterview.resx
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/Resources/WebInterview.ru.resx
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Controllers/CommandsController.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/WebInterview.cs
  src/Tests/WB.Tests.Abc/TestFactories/CommandFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/EventFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/Interviews/AssignmentLimitInterviewValidatorTests.cs
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/index.js
  src/UI/WB.UI.Headquarters.Core/Controllers/InterviewerHqController.cs
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewUI.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewUI.resx
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewUI.ru.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewUI.ru.resx
Labels: tests

#2183 added if
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/Models/MediaAttachment.cs
Labels: rc

#2179 Do not set answerTimeUtc in events #2173
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewExportedCommentariesDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewStatusTimeSpanDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/StatusChangeHistoryDenormalizerFunctional.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/AnswerCommented.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/AnswerRemoved.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/AnswersRemoved.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/Base/QuestionAnswered.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewApproved.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewCompleted.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewCreated.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewModeChanged.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewPaused.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewRejected.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewRestarted.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewResumed.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewStatusChanged.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewerAssigned.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/SupervisorAssigned.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Denormalizer/InterviewDashboardEventHandler.cs
  src/Services/Export/WB.Services.Export/Events/Interview/InterviewStatusChanged.cs
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/InterviewTests/when_answering_picture_question_and_answer_is_specified.cs
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/InterviewTests/when_answering_single_linked_to_List_question_and_answer_is_specified.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/StatefulInterviewTests/StatefulInterview_PauseResumeTests.cs
Labels: rc, tests

#2180 Sync optimization skips some events #2172
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/InterviewEventStreamOptimizer.cs
Labels: rc

#2178 added sender name to set up in from field for emails
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EmailProviders/AmazonEmailService.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EmailProviders/SendGridEmailService.cs
Labels: rc

#2181 Query performance
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/Workspace/M202211181852_Assignments_AddIndices.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/Workspace/M202211181854_AssignmentsIdentifyingAnswers_AddIndices.cs
Labels: rc, migrations

#2182 Rc
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/DesignerEngineVersionService.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EmailProviders/AmazonEmailService.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EmailProviders/SendGridEmailService.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewExportedCommentariesDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewStatusTimeSpanDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/StatusChangeHistoryDenormalizerFunctional.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/AnswerCommented.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/AnswerRemoved.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/AnswersRemoved.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/Base/QuestionAnswered.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewApproved.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewCompleted.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewCreated.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewModeChanged.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewPaused.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewRejected.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewRestarted.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewResumed.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewStatusChanged.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewerAssigned.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/SupervisorAssigned.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Denormalizer/InterviewDashboardEventHandler.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/InterviewEventStreamOptimizer.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/Workspace/M202211181852_Assignments_AddIndices.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/Workspace/M202211181854_AssignmentsIdentifyingAnswers_AddIndices.cs
  src/Services/Export/WB.Services.Export/Events/Interview/InterviewStatusChanged.cs
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/InterviewTests/when_answering_picture_question_and_answer_is_specified.cs
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/InterviewTests/when_answering_single_linked_to_List_question_and_answer_is_specified.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/StatefulInterviewTests/StatefulInterview_PauseResumeTests.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/PhotoViewActivity.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ImageViewBitmapWithFallbackBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/Models/MediaAttachment.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/TextViewUnderlinePressedBinding.cs
  src/UI/WB.UI.Designer/questionnaire-app/package-lock.json
  src/UI/WB.UI.Designer/questionnaire-app/package.json
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/package.json
Labels: tests, automerge, migrations

#2186 'Version 21.05.2 (build 29581) with Maps' is out of the button frame …
  src/UI/WB.UI.Frontend/src/assets/css/_buttons.scss
Labels: rc

#2187 Export update version
  src/Services/Export/WB.Services.Export/Infrastructure/TenantDbContext.cs
  src/Services/Export/WB.Services.Export/InterviewDataStorage/Services/QuestionnaireSchemaGenerator.cs
Labels: rc
