Repository surveysolutions/surveysolutions, pull requests merged in 2022-06, with the labels that each got.

#1803 Share compile errors
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Services/IQuestionnaireVerifier.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/QuestionnaireVerifier.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Views/Questionnaire/Edit/QuestionnaireView.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Views/Questionnaire/Edit/QuestionnaireViewFactory.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Views/Questionnaire/Edit/QuestionnaireViewInputModel.cs
  src/UI/WB.UI.Designer/Controllers/Api/Tester/QuestionnairesController.cs
  src/UI/WB.UI.Designer/Controllers/Api/WebTester/QuestionnairePackageComposer.cs
  src/UI/WB.UI.Designer/questionnaire/views/share.html
Labels: rc

#1804 Fix GraphQl after update version
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/InterviewQuestionsFilters.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Reports/MapReport.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/calendarEventsHelper.js
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/QuestionnaireItemResolver.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/QuestionsResolver.cs
Labels: rc

#1805 Rc
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/package.json
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/InterviewQuestionsFilters.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Reports/MapReport.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/calendarEventsHelper.js
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/QuestionnaireItemResolver.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Questionnaires/QuestionsResolver.cs
Labels: automerge

#1806 Fix typeahead to handle concurrent searches
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/ui/typeahead.vue
Labels: rc

#1807 Fixed navigate back logic for anonymous user
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/InterviewViewModel.cs
Labels: rc

#1809 Fixed get questionnaire
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Views/Questionnaire/Edit/QuestionnaireView.cs
  src/UI/WB.UI.Designer/Controllers/Api/Headquarters/HQQuestionnareBackupController.cs
  src/UI/WB.UI.Designer/Controllers/Api/Tester/QuestionnairesController.cs
  src/UI/WB.UI.Designer/Controllers/Api/WebTester/QuestionnairePackageComposer.cs
Labels: rc

#1813 Use package for compilation assembly
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/CodeGenerationModelsFactory.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/CodeGeneratorV2.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/ICodeGenerationModelsFactory.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/ICodeGeneratorV2.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/IQuestionnaireCodeGenerationPackageFactory.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/QuestionnaireCodeGenerationPackage.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/QuestionnaireCodeGenerationPackageFactory.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/DesignerBoundedContextModule.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/CodeGeneration/QuestionnaireExpressionProcessorGenerator.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Services/IExpressionProcessorGenerator.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/QuestionnaireVerifier.cs
  src/Tests/WB.Tests.Integration/IntegrationCreate.cs
  src/Tests/WB.Tests.Integration/InterviewTests/InterviewTestsContext.cs
  src/Tests/WB.Tests.Integration/InterviewTests/LanguageTests/LookUpTableTests.cs
  src/Tests/WB.Tests.Integration/InterviewTests/LanguageTests/when_answering_numeric_question_inside_roster_with_lookup_table_in_validation.cs
  src/Tests/WB.Tests.Unit.Designer/Create.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_group_with_condition_expression_with_more_than_10000_chars_length.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_question_with_condition_expression_with_more_than_10000_chars_length.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_question_with_linked_question_having_filter_longer_10000_chars.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_question_with_validation_expression_with_more_than_10000_chars_length.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_static_text_with_condition_expression_with_more_than_10000_chars_length.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_variable_with_expression_longer_10000_chars.cs
  src/Tests/WB.Tests.Web/TestFactories/AssemblyCompiler.cs
  src/UI/WB.UI.Designer/Controllers/Api/Designer/ExpressionGenerationController.cs
Labels: rc, tests

#1818 add indices to invitations. fix #1770
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/Workspace/M202206082042_Invitations_AddIndices.cs
Labels: rc, migrations

#1817 Export limits
  src/Services/Export/WB.Services.Export/Events/EventsHandler.cs
  src/Services/Export/WB.Services.Export/Events/EventsProcessor.cs
  src/Services/Export/WB.Services.Export/ExportServiceSettings.cs
Labels: rc

#1819 Tester navigation bug
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/AnonymousQuestionnairesViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/InterviewViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/QuestionnaireDownloadViewModel.cs
  src/UI/Tester/WB.UI.Tester/Infrastructure/TesterInfrastructureModule.cs
Labels: rc

#1822 Rc
  src/.version
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/CodeGenerationModelsFactory.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/CodeGeneratorV2.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/ICodeGenerationModelsFactory.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/ICodeGeneratorV2.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/IQuestionnaireCodeGenerationPackageFactory.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/QuestionnaireCodeGenerationPackage.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/QuestionnaireCodeGenerationPackageFactory.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/DesignerBoundedContextModule.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/CodeGeneration/QuestionnaireExpressionProcessorGenerator.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Services/IExpressionProcessorGenerator.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/QuestionnaireVerifier.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Views/Questionnaire/Edit/QuestionnaireView.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/AnonymousQuestionnairesViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/InterviewViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/QuestionnaireDownloadViewModel.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/Workspace/M202206082042_Invitations_AddIndices.cs
  src/Services/Export/WB.Services.Export/Events/EventsHandler.cs
  src/Services/Export/WB.Services.Export/Events/EventsProcessor.cs
  src/Services/Export/WB.Services.Export/ExportServiceSettings.cs
  src/Tests/WB.Tests.Integration/IntegrationCreate.cs
  src/Tests/WB.Tests.Integration/InterviewTests/InterviewTestsContext.cs
  src/Tests/WB.Tests.Integration/InterviewTests/LanguageTests/LookUpTableTests.cs
  src/Tests/WB.Tests.Integration/InterviewTests/LanguageTests/when_answering_numeric_question_inside_roster_with_lookup_table_in_validation.cs
  src/Tests/WB.Tests.Unit.Designer/Create.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_group_with_condition_expression_with_more_than_10000_chars_length.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_question_with_condition_expression_with_more_than_10000_chars_length.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_question_with_linked_question_having_filter_longer_10000_chars.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_question_with_validation_expression_with_more_than_10000_chars_length.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_static_text_with_condition_expression_with_more_than_10000_chars_length.cs
  src/Tests/WB.Tests.Unit.Designer/QuestionnaireVerificationTests/when_verifying_questionnaire_that_has_variable_with_expression_longer_10000_chars.cs
  src/Tests/WB.Tests.Web/Headquarters/Controllers/GraphTests/SchemaTest.Ensure_schema_isCorrect.approved.txt
  src/Tests/WB.Tests.Web/TestFactories/AssemblyCompiler.cs
  src/UI/Tester/WB.UI.Tester/Infrastructure/TesterInfrastructureModule.cs
  src/UI/WB.UI.Designer/Controllers/Api/Designer/ExpressionGenerationController.cs
  src/UI/WB.UI.Designer/Controllers/Api/Headquarters/HQQuestionnareBackupController.cs
  src/UI/WB.UI.Designer/Controllers/Api/Tester/QuestionnairesController.cs
  src/UI/WB.UI.Designer/Controllers/Api/WebTester/QuestionnairePackageComposer.cs
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/ui/typeahead.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Mutations/MapsMutationExtension.cs
Labels: tests, automerge, migrations

#1824 fix navigation after change translation. fix #1812
  src/Core/SharedKernels/Enumerator/Enumerator/Services/Infrastructure/ViewModelEventRegistry.cs
Labels: rc

#1829 Display map file name in the confirmation popup at headquarters #1827
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Maps/MapList.vue
  src/UI/WB.UI.Frontend/src/hqapp/components/Confirm.vue
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.fr.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ro.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.sq.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.zh.resx
Labels: rc

#1828 Show load date
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Views/Questionnaire/Edit/QuestionnaireView.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/AnonymousQuestionnairesViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/InterviewViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/QuestionnaireDownloadViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/Views/AnonymousQuestionnaireListItem.cs
  src/Core/SharedKernels/Questionnaire/WB.Core.SharedKernels.Questionnaire/Documents/QuestionnaireDocument.cs
  src/Tests/WB.Tests.Integration/InterviewFactoryTests/InterviewFactorySpecification.cs
  src/Tests/WB.Tests.Unit.Designer/Applications/ImportExportQuestionnaire/ImportExportTests.cs
  src/Tests/WB.Tests.Unit.Designer/Create.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Tester/ViewModels/DashboardViewModelTests/when_load_questionnaire_with_attachments.cs
  src/Tests/WB.Tests.Unit/GenericSubdomains/Utils/NewtonJsonUtilsTests/when_deserializing_questionnaire_document_with_json_utils_to_old_format.cs
  src/UI/Tester/WB.UI.Tester/Activities/AnonymousQuestionnairesActivity.cs
  src/UI/Tester/WB.UI.Tester/Activities/InterviewActivity.cs
  src/UI/Tester/WB.UI.Tester/Infrastructure/Internals/Security/TesterPrincipal.cs
  src/UI/WB.UI.Designer/Code/ImportExport/QuestionnaireImportService.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Maps/MapsResolver.cs
Labels: rc, tests

#1834 Delete shape on synch
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/MapSynchronization/MapSynchronizerBase.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/Services/MapSynchronizerTests/MapSynchronizerTests.cs
Labels: rc, tests

#1835 update esri
  src/UI/Interviewer/WB.UI.Interviewer/Extensions.props
  src/UI/Shared/WB.UI.Shared.Extensions/Services/MapUtilityService.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/GeographyEditorViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
Labels: rc

#1839 Rc
  .github/workflows/build.yml
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Views/Questionnaire/Edit/QuestionnaireView.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/AnonymousQuestionnairesViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/DashboardViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/InterviewViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/ViewModels/QuestionnaireDownloadViewModel.cs
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/Views/AnonymousQuestionnaireListItem.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/MapSynchronization/MapSynchronizerBase.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Services/Infrastructure/ViewModelEventRegistry.cs
  src/Core/SharedKernels/Questionnaire/WB.Core.SharedKernels.Questionnaire/Documents/QuestionnaireDocument.cs
  src/Infrastructure/WB.Infrastructure.Native/Files/Implementation/FileSystem/ZipArchiveUtils.cs
  src/Services/Export/WB.Services.Export/Questionnaire/QuestionnaireExportStructureFactory.cs
  src/Tests/WB.Tests.Integration/InterviewFactoryTests/InterviewFactorySpecification.cs
  src/Tests/WB.Tests.Unit.Designer/Applications/ImportExportQuestionnaire/ImportExportTests.cs
  src/Tests/WB.Tests.Unit.Designer/Create.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/Services/MapSynchronizerTests/MapSynchronizerTests.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Tester/ViewModels/DashboardViewModelTests/when_load_questionnaire_with_attachments.cs
  src/Tests/WB.Tests.Unit/GenericSubdomains/Utils/NewtonJsonUtilsTests/when_deserializing_questionnaire_document_with_json_utils_to_old_format.cs
  src/UI/Interviewer/WB.UI.Interviewer/Extensions.props
  src/UI/Shared/WB.UI.Shared.Extensions/Services/MapUtilityService.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/GeographyEditorViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
  src/UI/Tester/WB.UI.Tester/Activities/AnonymousQuestionnairesActivity.cs
  src/UI/Tester/WB.UI.Tester/Activities/InterviewActivity.cs
  src/UI/Tester/WB.UI.Tester/Implementation/Services/ViewModelNavigationService.cs
  src/UI/Tester/WB.UI.Tester/Infrastructure/Internals/Security/TesterPrincipal.cs
  src/UI/WB.UI.Designer/Areas/Identity/Pages/Account/Login.cshtml.cs
  src/UI/WB.UI.Designer/Code/ImportExport/QuestionnaireImportService.cs
  src/UI/WB.UI.Designer/Startup.cs
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/package.json
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Maps/MapList.vue
  src/UI/WB.UI.Frontend/src/hqapp/components/Confirm.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Maps/MapsResolver.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.fr.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ro.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.sq.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.zh.resx
Labels: tests, automerge

#1840 Merge pull request #1838 from surveysolutions/rc
  src/UI/WB.UI.Designer/Controllers/QuestionnaireListController.cs
Labels: automerge

#1846 Release
  src/.version
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/UI/Shared/WB.UI.Shared.Web.Core/Services/ImageProcessingService.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/WB.UI.Shared.Web.Core.csproj
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
  src/UI/WB.UI.Designer/questionnaire/views/share.html
Labels: automerge

#1800 Changed permissions lib
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Synchronization/OfflineInterviewerUpdateApplication.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/Synchronization/DownloadInterviewerApplications.cs
  src/Core/SharedKernels/DataCollection/DataCollection.Portable/GeoLocation.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/Interview/AnswerGeoLocationQuestionCommand.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/GeoLocationQuestionAnswered.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/Interview.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Scenarios/AnswerGeoLocation.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Repositories/AttachmentContentStorage.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/AudioAuditService.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/MapSynchronization/MapSynchronizerBase.cs
  src/Core/SharedKernels/Enumerator/Enumerator/OfflineSync/ViewModels/BaseOfflineSyncViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Services/IPermissionsService.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/AudioQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/GpsCoordinatesQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/GpsLocation.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/MultimediaQuestionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Views/MapsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/WB.Core.SharedKernels.Enumerator.csproj
  src/Core/SharedKernels/Questionnaire/WB.Core.SharedKernels.Questionnaire/Documents/GeoPosition.cs
  src/Services/Export/WB.Services.Export/CsvExport/Exporters/ExportQuestionService.cs
  src/Services/Export/WB.Services.Export/Events/Interview/GeoLocationQuestionAnswered.cs
  src/Services/Export/WB.Services.Export/Interview/Entities/GeoPosition.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/Services/SynchronizationProcessTests/Steps/OfflineInterviewerUpdateApplicationTests.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Supervisor/Services/DownloadInterviewerApplicationsTests.cs
  src/Tests/WB.Tests.Unit/WB.Tests.Unit.csproj
  src/UI/Interviewer/WB.UI.Interviewer/Properties/AndroidManifest.xml
  src/UI/Interviewer/WB.UI.Interviewer/ViewModel/InterviewViewModel.cs
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/BaseActivity.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomServices/PermissionsService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorUIModule.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Migrations/Workspaces/M202103291222_MoveMapsFiles.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/BackupRestoreService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/DeviceInformationService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/EnumeratorTabletDiagnosticService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/Internals/GpsLocationService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/Internals/PictureChooser.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/Internals/QRBarcodeScanService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/PermissionsExtensions.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Extensions/Services/MapInteractionService.cs
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
  src/UI/Supervisor/WB.UI.Supervisor/Properties/AndroidManifest.xml
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/Properties/AndroidManifest.xml
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
Labels: tests

#1853 Exported roster files not following expected naming convention (when…
  src/Services/Export/WB.Services.Export.Tests/Questionnaire/QuestionnaireExportStructureFactoryTests.cs
  src/Services/Export/WB.Services.Export/Questionnaire/QuestionnaireDocumentExtensions.cs
  src/Services/Export/WB.Services.Export/Questionnaire/RosterScopesFiller.cs
Labels: tests

#1859 hotfix-22-06-2 to release
  src/.version
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/ImportExport/Models/FixedRosterTitle.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/ImportExport/Models/SpecialValue.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/ImportExport/QuestionnaireAutoMapperProfile.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Implementation/Synchronization/InterviewPackagesService.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/Services/Implementation/OfflineSyncHandlers/SupervisorInterviewsHandler.cs
  src/Core/Infrastructure/WB.Core.Infrastructure/Ncqrs/Eventing/Storage/IHeadquartersEventStore.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/Implementation/PostgresEventStore.cs
  src/Tests/WB.Tests.Unit.Designer/Applications/ImportExportQuestionnaire/SchemaTests-approved/SchemaTests.when_generate_schema_should_be_equal_to_pattern_file.approved.txt
  src/UI/Interviewer/WB.UI.Interviewer/Extensions.props
  src/UI/Interviewer/WB.UI.Interviewer/Infrastructure/InterviewerInfrastructureModule.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/MapService.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Services/MapUtilityService.cs
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
  src/UI/Supervisor/WB.UI.Supervisor/ServiceLocation/SupervisorInfrastructureModule.cs
  src/UI/WB.UI.Designer/Code/ImportExport/QuestionnaireSchema.json
  src/UI/WB.UI.Designer/questionnaire/views/main.v1.html
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/package.json
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Enumerator/EnumeratorInterviewsApiV1Controller.cs
Labels: tests
