Repository surveysolutions/surveysolutions, pull requests merged in 2023-08, with the labels that each got.

#2743 Assignment history
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Assignments/AssignmentViewFactory.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/HeadquartersBoundedContextModule.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/Assignment/MarkAssignmentAsReceivedByTablet.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Commands/Interview/MarkInterviewAsReceivedByInterviewer.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Assignment/AssignmentReceivedByTablet.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/Interview/InterviewReceivedByInterviewer.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/AssignmentAggregateRoot.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/Interview.cs
  src/Tests/WB.Tests.Abc/TestFactories/CommandFactory.cs
  src/Tests/WB.Tests.Abc/TestFactories/EventFactory.cs
  src/Tests/WB.Tests.Integration/InterviewPackagesServiceTests/when_processing_package_with_duplicate_events.cs
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/InterviewTests/Synchronization/should_allow_be_marked_as_received_by_interviewer_in_appropriate_statuses.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/EventHandlers/Interview/InterviewHistoryDenormalizerTests/when_status_changing_events_recived.cs
  src/Tests/WB.Tests.Web/Headquarters/Controllers/AssignmentsApiV2ControllerTests.cs
  src/Tests/WB.Tests.Web/Headquarters/Controllers/InterviewerInterviewsControllerTests/v2/InterviewsApiV2ControllerTestsContext.cs
  src/Tests/WB.Tests.Web/Headquarters/Controllers/InterviewerInterviewsControllerTests/v3/InterviewsApiV3ControllerTests.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Assignments/Details.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/AssignmentsControllerBase.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Interviewer/InterviewerInterviewsControllerBase.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Interviewer/v2/AssignmentsApiV2Controller.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Interviewer/v2/InterviewsApiV2Controller.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Interviewer/v3/InterviewsApiV3Controller.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/InterviewsControllerBase.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Supervisor/SupervisorInterviewsControllerBase.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Supervisor/v1/AssignmentsApiV1Controller.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Supervisor/v1/InterviewsApiV1Controller.cs
Labels: tests

#2733 Shapefile details #2716
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Implementation/Services/CoordinateTransformationFilter.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Implementation/Services/MapFileStorageService.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/Implementation/Services/CoordinateTransformationFilterTests.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/MapsApiController.cs
  src/UI/WB.UI.Headquarters.Core/Views/Maps/MapPreview.cshtml
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: tests

#2744 Make GDAL optional for geoTIFF delivery #2237
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Implementation/Services/GeoTiffInfoReader.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Implementation/Services/MapFileStorageService.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/CodeSecurityCheckerTests.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/Implementation/Services/GeoTiffInfoReaderTests.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ru.resx
  src/UI/WB.UI.Headquarters.Core/Views/Maps/MapPreview.cshtml
Labels: tests

#2757 Small fixes
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/LookupTableService/LookupTableService.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/Implementation/Services/CoordinateTransformationFilterTests.cs
  src/Tests/WB.Tests.Web/Headquarters/Controllers/WebInterview/InterviewOverviewServiceTests.cs
Labels: tests

#2760 Add readme to paradata #1998
  src/Services/Core/WB.Services.Scheduler.Tests/WB.Services.Scheduler.Tests.csproj
  src/Services/Export/WB.Services.Export.Tests/Create.cs
  src/Services/Export/WB.Services.Export.Tests/CsvExport/Implementation/TabularFormatExportServiceTests.cs
  src/Services/Export/WB.Services.Export.Tests/ExportProcessHandlersTests/TabularFormatParaDataExportProcessHandlerTests.cs
  src/Services/Export/WB.Services.Export.Tests/WB.Services.Export.Tests.csproj
  src/Services/Export/WB.Services.Export/CsvExport/ITabularFormatExportService.cs
  src/Services/Export/WB.Services.Export/CsvExport/Implementation/TabularFormatExportService.cs
  src/Services/Export/WB.Services.Export/ExportProcessHandlers/Implementation/ExportInfo.cs
  src/Services/Export/WB.Services.Export/ExportProcessHandlers/Implementation/Handlers/TabularFormatParaDataExportProcessHandler.cs
  src/Services/Export/WB.Services.Export/Interview/ExportFileSettings.cs
  src/Services/Export/WB.Services.Export/Services/IHeadquartersApi.cs
Labels: tests

#2770 Add CREATED ON column to Workspaces grid #2048
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Workspaces/Impl/WorkspacesStorage.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Workspaces/Mappings/WorkspaceMap.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Workspaces/Workspace.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Workspaces/WorkspaceFilterResultItem.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Workspaces/WorkspacesFilter.cs
  src/Infrastructure/WB.Persistence.Headquarters/Migrations/Workspaces/M202308101336_AddCreatedAtUtcColumn.cs
  src/Tests/WB.Tests.Abc/TestFactories/EntityFactory.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/ServerAdmin/Workspaces/Workspaces.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Models/WorkspaceApiView.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/WorkspacesPublicApiController.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Workspaces.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Workspaces.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Workspaces.ru.resx
  src/UI/WB.UI.Headquarters.Core/SupportTool/WorkspaceCommand.cs
Labels: tests, migrations

#2774 Fix miliseconds in paradata
  src/Services/Export/WB.Services.Export.Tests/ExportProcessHandlersTests/TabularFormatParaDataExportProcessHandlerTests.cs
  src/Services/Export/WB.Services.Export/ExportProcessHandlers/Implementation/Handlers/TabularFormatParaDataExportProcessHandler.cs
Labels: tests

#2786 find replace reload fix. #2785
  src/UI/WB.UI.Designer/questionnaire/scripts/controllers/findReplace.js
Labels: automerge

#2795 Update libs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/WB.Core.BoundedContexts.Interviewer.csproj
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/WB.Core.BoundedContexts.Tester.csproj
  src/Core/Infrastructure/WB.Core.Infrastructure/WB.Core.Infrastructure.csproj
  src/Core/SharedKernels/Enumerator/Enumerator/WB.Core.SharedKernels.Enumerator.csproj
  src/Infrastructure/WB.Infrastructure.Native/WB.Infrastructure.Native.csproj
  src/Services/Core/WB.Services.Scheduler.Tests/WB.Services.Scheduler.Tests.csproj
  src/Services/Export/WB.Services.Export.Host/WB.Services.Export.Host.csproj
  src/Services/Export/WB.Services.Export.Tests/WB.Services.Export.Tests.csproj
  src/Tests/WB.Tests.Abc/WB.Tests.Abc.csproj
  src/Tests/WB.Tests.Integration.Designer/WB.Tests.Integration.Designer.csproj
  src/Tests/WB.Tests.Integration/WB.Tests.Integration.csproj
  src/Tests/WB.Tests.Unit.Designer/WB.Tests.Unit.Designer.csproj
  src/Tests/WB.Tests.Unit/WB.Tests.Unit.csproj
  src/Tests/WB.Tests.Web/WB.Tests.Web.csproj
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Web.Core/Captcha/CaptchaImageGenerator.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/WB.UI.Shared.Web.Core.csproj
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
Labels: tests

#2794 IN app crashes after synchronization of interviews #2793
  src/UI/Interviewer/WB.UI.Interviewer/Activities/Dashboard/DashboardActivity.cs
  src/UI/Interviewer/WB.UI.Interviewer/CustomControls/MvxFragmentStateAdapter.cs
Labels: rc

#2797 Updated same libs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Core/SharedKernels/Enumerator/Enumerator/WB.Core.SharedKernels.Enumerator.csproj
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WB.Enumerator.Native.Core.csproj
  src/Infrastructure/WB.Infrastructure.Native/WB.Infrastructure.Native.csproj
  src/Tests/WB.Tests.Abc/WB.Tests.Abc.csproj
  src/Tests/WB.Tests.Integration.Designer/WB.Tests.Integration.Designer.csproj
  src/Tests/WB.Tests.Integration/WB.Tests.Integration.csproj
  src/Tests/WB.Tests.Unit.Designer/WB.Tests.Unit.Designer.csproj
  src/Tests/WB.Tests.Unit/WB.Tests.Unit.csproj
  src/Tests/WB.Tests.Web/WB.Tests.Web.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Web.Core/WB.UI.Shared.Web.Core.csproj
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
Labels: rc, tests

#2799 UI issues with release 23.09 #2798
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Layout/dashboard_tab.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/styles.xml
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.Designer.cs
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.cs.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.es.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.ro.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.ru.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.sq.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.uk.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.zh.resx
Labels: rc
