Repository surveysolutions/surveysolutions, pull requests merged in 2023-09, with the labels that each got.

#2804 The Internal CAPTCHA does not show up on HQ #2803
  src/UI/Shared/WB.UI.Shared.Web.Core/Captcha/CaptchaImageGenerator.cs
Labels: rc

#2801 Highlight calculated variables if they are shown by the debug flag in…
  src/UI/WB.UI.Frontend/src/assets/css/_web-interview.scss
  src/UI/WB.UI.Frontend/src/webinterview/components/Section.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/Variable.vue
  src/UI/WB.UI.Headquarters.Core/Views/Shared/_Layout.cshtml
  src/UI/WB.UI.WebTester/Views/Shared/_Layout.Template.cshtml
Labels: rc

#2807 Rc
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewDynamicReportAnswersDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/WB.Core.BoundedContexts.Interviewer.csproj
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/WB.Core.BoundedContexts.Tester.csproj
  src/Core/Infrastructure/WB.Core.Infrastructure/WB.Core.Infrastructure.csproj
  src/Core/SharedKernels/Enumerator/Enumerator/WB.Core.SharedKernels.Enumerator.csproj
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WB.Enumerator.Native.Core.csproj
  src/Infrastructure/WB.Infrastructure.Native/WB.Infrastructure.Native.csproj
  src/Services/Core/WB.Services.Scheduler.Tests/WB.Services.Scheduler.Tests.csproj
  src/Services/Export/WB.Services.Export.Host/WB.Services.Export.Host.csproj
  src/Services/Export/WB.Services.Export.Tests/WB.Services.Export.Tests.csproj
  src/Tests/WB.Tests.Abc/WB.Tests.Abc.csproj
  src/Tests/WB.Tests.Integration.Designer/WB.Tests.Integration.Designer.csproj
  src/Tests/WB.Tests.Integration/WB.Tests.Integration.csproj
  src/Tests/WB.Tests.Unit.Designer/WB.Tests.Unit.Designer.csproj
  src/Tests/WB.Tests.Unit/WB.Tests.Unit.csproj
  src/Tests/WB.Tests.Web/WB.Tests.Web.csproj
  src/UI/Interviewer/WB.UI.Interviewer/Activities/Dashboard/DashboardActivity.cs
  src/UI/Interviewer/WB.UI.Interviewer/CustomControls/MvxFragmentStateAdapter.cs
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Layout/dashboard_tab.axml
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/styles.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Extensions/Extensions/GeometryEditorExtensions.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/GeographyEditorViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
  src/UI/Shared/WB.UI.Shared.Web.Core/Captcha/CaptchaImageGenerator.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/WB.UI.Shared.Web.Core.csproj
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.Designer.cs
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.cs.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.es.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.ro.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.ru.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.sq.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.uk.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.zh.resx
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
  src/UI/WB.UI.Frontend/src/assets/css/_web-interview.scss
  src/UI/WB.UI.Frontend/src/webinterview/components/Cover.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/Section.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/Variable.vue
  src/UI/WB.UI.Headquarters.Core/Views/Shared/_Layout.cshtml
  src/UI/WB.UI.WebTester/Views/Shared/_Layout.Template.cshtml
Labels: tests, automerge

#2808 fixed #2806 Interview PDF transcript cannot be generated
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/PdfInterview/ImageSharpSource.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/PdfInterview/PdfInterviewGenerator.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
Labels: rc

#2809 Unexpected stream version error message shows up on answering the cascading question
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
Labels: rc

#2812 fixed #2803 There are the unreadable characters on the CAPTCHA.
  src/Tests/WB.Tests.Unit/CaptchaImageGeneratorTests.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/Captcha/CaptchaImageGenerator.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/Captcha/HostedCaptchaProvider.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/Resources/Captcha.Designer.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/Resources/Captcha.resx
  src/UI/Shared/WB.UI.Shared.Web.Core/Resources/Captcha.ru.resx
Labels: rc, tests

#2815 Updated libs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Core/Infrastructure/WB.Infrastructure.AspNetCore/WB.Infrastructure.AspNetCore.csproj
  src/Core/SharedKernels/DataCollection/DataCollection/WB.Core.SharedKernels.DataCollection.csproj
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WB.Enumerator.Native.Core.csproj
  src/Core/SharedKernels/Questionnaire/WB.Core.SharedKernels.Questionnaire/WB.Core.SharedKernels.Questionnaire.csproj
  src/Infrastructure/WB.Infrastructure.Native/WB.Infrastructure.Native.csproj
  src/Infrastructure/WB.Persistence.Headquarters/WB.Persistence.Headquarters.csproj
  src/Services/Core/WB.Services.Infrastructure/WB.Services.Infrastructure.csproj
  src/Services/Core/WB.Services.Scheduler.Tests/WB.Services.Scheduler.Tests.csproj
  src/Services/Core/WB.Services.Scheduler/WB.Services.Scheduler.csproj
  src/Services/Export/WB.Services.Export.Host/WB.Services.Export.Host.csproj
  src/Services/Export/WB.Services.Export.Tests/WB.Services.Export.Tests.csproj
  src/Services/Export/WB.Services.Export/WB.Services.Export.csproj
  src/Tests/WB.Tests.Integration/WB.Tests.Integration.csproj
  src/Tests/WB.Tests.Unit.Designer/WB.Tests.Unit.Designer.csproj
  src/Tests/WB.Tests.Web/WB.Tests.Web.csproj
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
  src/UI/WB.UI.WebTester/WB.UI.WebTester.csproj
Labels: rc, tests, migrations

#2818 Rc
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/PdfInterview/ImageSharpSource.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/PdfInterview/PdfInterviewGenerator.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/PdfInterview/PdfWriters/InterviewHeaderPdfWriter.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/PdfInterview/images/pdf_logo.png
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Core/Infrastructure/WB.Infrastructure.AspNetCore/WB.Infrastructure.AspNetCore.csproj
  src/Core/SharedKernels/DataCollection/DataCollection/WB.Core.SharedKernels.DataCollection.csproj
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/InterviewViewModelFactory.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/VariableViewModel.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WB.Enumerator.Native.Core.csproj
  src/Core/SharedKernels/Questionnaire/WB.Core.SharedKernels.Questionnaire/WB.Core.SharedKernels.Questionnaire.csproj
  src/Infrastructure/WB.Infrastructure.Native/WB.Infrastructure.Native.csproj
  src/Infrastructure/WB.Persistence.Headquarters/WB.Persistence.Headquarters.csproj
  src/Services/Core/WB.Services.Infrastructure/WB.Services.Infrastructure.csproj
  src/Services/Core/WB.Services.Scheduler.Tests/WB.Services.Scheduler.Tests.csproj
  src/Services/Core/WB.Services.Scheduler/WB.Services.Scheduler.csproj
  src/Services/Export/WB.Services.Export.Host/WB.Services.Export.Host.csproj
  src/Services/Export/WB.Services.Export.Tests/WB.Services.Export.Tests.csproj
  src/Services/Export/WB.Services.Export/WB.Services.Export.csproj
  src/Tests/WB.Tests.Integration/WB.Tests.Integration.csproj
  src/Tests/WB.Tests.Unit.Designer/WB.Tests.Unit.Designer.csproj
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/PdfInterview/PdfInterviewGeneratorTests.cs
  src/Tests/WB.Tests.Unit/CaptchaImageGeneratorTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/EventHandlers/Interview/InterviewSummaryEventHandlerFunctionalTests/InterviewSummaryDenormalizerTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/SurveyManagement/EventHandlers/Interview/InterviewSummaryEventHandlerFunctionalTests/InterviewSummaryDenormalizerTestsContext.cs
  src/Tests/WB.Tests.Web/WB.Tests.Web.csproj
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/Converters/IsCoverVariableToColorConverter.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Converters/StatusToDasboardBackgroundConverter.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorSetup.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_variable.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/colors.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/styles-interview-question.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Web.Core/Captcha/CaptchaImageGenerator.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/Captcha/HostedCaptchaProvider.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/Resources/Captcha.Designer.cs
  src/UI/Shared/WB.UI.Shared.Web.Core/Resources/Captcha.resx
  src/UI/Shared/WB.UI.Shared.Web.Core/Resources/Captcha.ru.resx
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/TesterApplication.cs
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
  src/UI/WB.UI.Designer/Resources/ErrorMessages.Designer.cs
  src/UI/WB.UI.Designer/Resources/ErrorMessages.resx
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
  src/UI/WB.UI.WebTester/WB.UI.WebTester.csproj
Labels: tests, migrations

#2822 ignore gdal if path is not valid #2237
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Implementation/Services/MapFileStorageService.cs
Labels: rc

#2823 Update csvhelper
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/LookupTableService/LookupTableService.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Services/TsvCategoriesExtractService.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/AssignmentImport/Templates/AssignmentImportTemplateGenerator.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/DataExport/Factories/CsvReader.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/DataExport/Services/CsvWriterService.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Implementation/Services/Export/CsvExportFile.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Implementation/Services/Export/TabExportFile.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Users/UserPreloading/Services/UserImportService.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WebInterview/Impl/SampleWebInterviewService.cs
  src/Services/Export/WB.Services.Export/WB.Services.Export.csproj
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/LookupTableServiceTests/when_saving_lookup_table_without_data.cs
  src/Tests/WB.Tests.Unit.Designer/Services/CategoriesServiceTests.cs
  src/Tests/WB.Tests.Unit.Designer/WB.Tests.Unit.Designer.csproj
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/WebInterview/SampleWebInterviewServiceTests.cs
  src/Tests/WB.Tests.Unit/WB.Tests.Unit.csproj
  src/UI/WB.UI.Headquarters.Core/Controllers/InterviewerAuditLogController.cs
Labels: tests

#2813 2721 ukrainian translation issues
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/QuestionnaireEditor.uk.resx
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/Report.uk.resx
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/Strings.uk.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.uk.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.uk.resx
  src/UI/WB.UI.Designer/Resources/AccountResources.uk.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireController.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Assignments.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.cs.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.fr.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.sq.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Dashboard.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/HQ.designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/HQ.resx
  src/UI/WB.UI.Headquarters.Core/Resources/HQ.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/HQ.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Interviews.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Maps.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/QuestionnaireImport.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Reports.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Users.uk.resx
Labels: rc

#2821 Rc
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/QuestionnairePostProcessors/HistoryPostProcessor.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/QuestionnaireEditor.uk.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Views/Questionnaire/Edit/QuestionnaireInfoFactory.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Implementation/Services/MapFileStorageService.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/Report.uk.resx
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/Strings.uk.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.uk.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.uk.resx
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/GroupNavigationViewModel.cs
  src/UI/Interviewer/WB.UI.Interviewer/Activities/Dashboard/DashboardActivity.cs
  src/UI/Interviewer/WB.UI.Interviewer/Activities/Dashboard/DashboardActivity_Next.cs
  src/UI/Interviewer/WB.UI.Interviewer/CustomControls/MvxFragmentStateAdapter.cs
  src/UI/Interviewer/WB.UI.Interviewer/CustomControls/MvxFragmentStatePagerAdapter.cs
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Layout/dashboard.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_variable.axml
  src/UI/WB.UI.Designer/Resources/AccountResources.uk.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireController.uk.resx
  src/UI/WB.UI.Headquarters.Core/Program.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Assignments.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.cs.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.fr.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.sq.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Dashboard.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/HQ.designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/HQ.resx
  src/UI/WB.UI.Headquarters.Core/Resources/HQ.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/HQ.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Interviews.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Maps.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/QuestionnaireImport.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Reports.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.uk.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Users.uk.resx
Labels: automerge

#2829 Release
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Views/Questionnaire/Edit/QuestionnaireInfoFactory.cs
Labels: automerge

#2830 Update libs
  .github/workflows/ci.yml
  installer/src/SurveySolutionsBootstrap/NetCoreChecker.wxs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Core/Infrastructure/WB.Infrastructure.AspNetCore/WB.Infrastructure.AspNetCore.csproj
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WB.Enumerator.Native.Core.csproj
  src/Infrastructure/WB.Infrastructure.Native/WB.Infrastructure.Native.csproj
  src/Infrastructure/WB.Persistence.Headquarters/WB.Persistence.Headquarters.csproj
  src/Services/Core/WB.Services.Infrastructure/WB.Services.Infrastructure.csproj
  src/Services/Core/WB.Services.Scheduler.Tests/WB.Services.Scheduler.Tests.csproj
  src/Services/Core/WB.Services.Scheduler/WB.Services.Scheduler.csproj
  src/Services/Export/WB.Services.Export.Host/WB.Services.Export.Host.csproj
  src/Services/Export/WB.Services.Export.Tests/WB.Services.Export.Tests.csproj
  src/Services/Export/WB.Services.Export/ExportProcessHandlers/Externals/DropboxDataClient.cs
  src/Services/Export/WB.Services.Export/ExportProcessHandlers/Externals/OneDriveDataClient.cs
  src/Services/Export/WB.Services.Export/WB.Services.Export.csproj
  src/Tests/WB.Tests.Abc/TestFactories/ServiceFactory.cs
  src/Tests/WB.Tests.Abc/WB.Tests.Abc.csproj
  src/Tests/WB.Tests.Integration.Designer/WB.Tests.Integration.Designer.csproj
  src/Tests/WB.Tests.Integration/WB.Tests.Integration.csproj
  src/Tests/WB.Tests.Unit.Designer/WB.Tests.Unit.Designer.csproj
  src/Tests/WB.Tests.Unit/WB.Tests.Unit.csproj
  src/UI/Interviewer/WB.UI.Interviewer/Properties/AndroidManifest.xml
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
  src/UI/Shared/WB.UI.Shared.Web.Core/WB.UI.Shared.Web.Core.csproj
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
  src/UI/WB.UI.WebTester/WB.UI.WebTester.csproj
Labels: tests, migrations

#2854 Release
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Services/WebInterviewNotificationService.cs
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/Variable.vue
  src/UI/WB.UI.Frontend/src/webinterview/store/store.actions.js
Labels: automerge
