Repository surveysolutions/surveysolutions, pull requests merged in 2023-04, with the labels that each got.

#2438 fix images
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/package.json
Labels: rc

#2441 Hide keyboard after click button on dialog #2405
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/calendar_event_dialog.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_select_responsible_dialog.axml
Labels: rc

#2439 fix password for interview
  src/UI/WB.UI.Headquarters.Core/Controllers/WebInterviewController.cs
Labels: rc

#2447 Removed duplicate asset
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
Labels: rc

#2451 do not send no response reminder for archives assignments
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Invitations/InvitationService.cs
Labels: rc

#2450 File options bugs #2090
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.Designer.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Resources/ExceptionMessages.ru.resx
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Services/ExcelCategoriesExtractService.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Services/ImportCategoricalOptionsResult.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Services/TsvCategoriesExtractService.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Verifier/QuestionVerifications.cs
  src/Tests/WB.Tests.Unit.Designer/Applications/QuestionnaireControllerTests/QuestionnaireControllerTestContext.cs
  src/Tests/WB.Tests.Unit.Designer/Services/CategoricalOptionsImportServiceTests.cs
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
Labels: tests

#2453 Designer login
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Core/Infrastructure/WB.Core.Infrastructure/WB.Core.Infrastructure.csproj
  src/Core/Infrastructure/WB.Infrastructure.AspNetCore/WB.Infrastructure.AspNetCore.csproj
  src/Services/Export/WB.Services.Export.Host/WB.Services.Export.Host.csproj
  src/Tests/WB.Tests.Integration.Designer/WB.Tests.Integration.Designer.csproj
  src/Tests/WB.Tests.Integration/WB.Tests.Integration.csproj
  src/Tests/WB.Tests.Unit.Designer/WB.Tests.Unit.Designer.csproj
  src/Tests/WB.Tests.Unit/WB.Tests.Unit.csproj
  src/Tests/WB.Tests.Web/WB.Tests.Web.csproj
  src/UI/Shared/WB.UI.Shared.Web.Core/WB.UI.Shared.Web.Core.csproj
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Template/LoginToDesigner.vue
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
  src/UI/WB.UI.WebTester/WB.UI.WebTester.csproj
Labels: rc, tests

#2472 Map and markers do no show up on Map Dashboard in the one workspace. …
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/MapDashboardApiController.cs
Labels: rc

#2465 improve password generation for interviews
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/AssignmentImport/AssignmentsImportService.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Assignments/AssignmentPasswordGenerator.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Assignments/Upload/Index.vue
Labels: rc

#2487 Cannot create an interview from the particular assignments.Fix #2480
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/User/UserViewFactory.cs
Labels: rc

#2493 Paging does not work on Assignments page #2489
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Assignments/AssignmentViewFactory.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Assignments/AssignmentsInputModel.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/Assignments/when_filter_assignments_list.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/AssignmentsApiController.cs
Labels: rc, tests

#2490 post interview is checking explicitly
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Implementation/Services/OfflineSynchronizationService.cs
  src/Core/SharedKernels/DataCollection/DataCollection/WebApi/InterviewUploadResult.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/EnumeratorSynchronizationService.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/Synchronization/Steps/UploadInterviews.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Services/Synchronization/ISynchronizationService.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/SynchronizationSteps/InterviewerUploadInterviewsTests.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Interviewer/v3/InterviewsApiV3Controller.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/InterviewsControllerBase.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Supervisor/v1/InterviewsApiV1Controller.cs
Labels: rc, tests

#2492 Filter by responsible works incorrectly in the supervisor's map dashboard. #2481
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Assignments/AssignmentsService.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/Interview/InterviewFactory.cs
Labels: rc

#2473 Add stats to export data cards. Fix #2469
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/DataExport/Views/RunningDataExportProcessView.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/DataExport.Designer.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/DataExport.resx
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Resources/DataExport.ru.resx
  src/Services/Export/WB.Services.Export/Jobs/JobsStatusReporting.cs
  src/Services/Export/WB.Services.Export/Services/Processing/DataExportProcessView.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Export/ExportProcessCard.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Export/export.store.js
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/v2/ExportController.cs
Labels: rc

#2496 Interviewers are not able to create an interview on a Map Dashboard page #2484
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/MapDashboard/MapDashboard.vue
Labels: rc

#2497 Supervisor cannot assign an interviews to himself or herself on Map D…
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/InterviewsPublicApiController.cs
Labels: rc

#2488 Locking optimization
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/User/HqUser.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/AccountController.cs
Labels: rc

#2507 Reopened interview from Map Dashboard does not become In Progress. Fi…
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/InterviewerMapDashboardViewModel.cs
Labels: rc

#2509 Use own visibility logic #2499 and #2500
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/Converters/InvertedVisibilityValueConverter.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Converters/VisibilityValueConverter.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorSetup.cs
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
Labels: rc

#2523 reassign in popup
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/SupervisorMapDashboardViewModel.cs
Labels: rc

#2528 Dashboard refresh on return from map dashboard
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/Dashboard/DashboardViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/MapDashboardActivity.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/MapDashboardViewModel.cs
Labels: rc

#2531 NearBy permissions #2525
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/SupervisorOfflineSyncViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/OfflineSync/Entities/ConnectionStatusCode.cs
  src/Core/SharedKernels/Enumerator/Enumerator/OfflineSync/ViewModels/BaseOfflineSyncViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Services/IPermissionsService.cs
  src/UI/Interviewer/WB.UI.Interviewer/Activities/Dashboard/DashboardActivity.cs
  src/UI/Interviewer/WB.UI.Interviewer/Properties/AndroidManifest.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomServices/PermissionsService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/PermissionsCustom/BluetoothPermission.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/PermissionsCustom/NearbyWifiDevicesPermission.cs
  src/UI/Supervisor/WB.UI.Supervisor/Properties/AndroidManifest.xml
Labels: rc

#2515 Rc
  .github/workflows/dependency-review.yml
  build/functions.ps1
  build/publish.Tester.ps1
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Views/User/HqUser.cs
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/SupervisorOfflineSyncViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/OfflineSync/Entities/ConnectionStatusCode.cs
  src/Core/SharedKernels/Enumerator/Enumerator/OfflineSync/ViewModels/BaseOfflineSyncViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Services/IPermissionsService.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Overview/OverviewNodeDetailsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/SelectResponsibleForAssignmentViewModel.cs
  src/UI/Interviewer/WB.UI.Interviewer/Activities/Dashboard/DashboardActivity.cs
  src/UI/Interviewer/WB.UI.Interviewer/Properties/AndroidManifest.xml
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/Converters/InvertedVisibilityValueConverter.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Converters/VisibilityValueConverter.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomServices/PermissionsService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorSetup.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/PermissionsCustom/BluetoothPermission.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/PermissionsCustom/NearbyWifiDevicesPermission.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_overview_node_details.axml
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/MapDashboardActivity.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/InterviewerMapDashboardViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/MapDashboardViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/SupervisorMapDashboardViewModel.cs
  src/UI/Supervisor/WB.UI.Supervisor/Properties/AndroidManifest.xml
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Export/Export.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/AccountController.cs
Labels: automerge

#2532 Merge pull request #2411 from surveysolutions/rc
  src/UI/WB.UI.Designer/questionnaire/views/main.v1.html
Labels: automerge

#2536 Duplicate events after sync #2526
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Implementation/Synchronization/InterviewPackagesService.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Events/AggregateRootEventExtensions.cs
  src/Tests/WB.Tests.Abc/EventExtensions.cs
  src/Tests/WB.Tests.Abc/TestFactories/EventFactory.cs
  src/Tests/WB.Tests.Integration/InterviewPackagesServiceTests/when_processing_package_with_duplicate_events.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/SynchronizationSteps/InterviewerUploadInterviewsTests.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Supervisor/Services/SupervisorInterviewsHandlerTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/DataCollection/InterviewTests/InterviewAssignTests.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/Services/InterviewEventStreamOptimizerTests/when_removing_events_not_needed_to_be_sent.cs
Labels: tests

#2537 Revert "Interviewer crashes on conditions. Fix #2348"
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/CodeTemplates/InterviewExpressionStorageTemplate.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/CodeTemplates/InterviewExpressionStorageTemplate.tt
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/CodeGeneration/CodeSecurityChecker.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/CodeGeneration/DynamicCompilerSettingsProvider.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/CodeSecurityCheckerTests.cs
Labels: tests

#2538 Release to master
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/CodeTemplates/InterviewExpressionStorageTemplate.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/CodeGenerationV2/CodeTemplates/InterviewExpressionStorageTemplate.tt
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/CodeGeneration/CodeSecurityChecker.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/Implementation/Services/CodeGeneration/DynamicCompilerSettingsProvider.cs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Tests/WB.Tests.Unit.Designer/BoundedContexts/Designer/CodeSecurityCheckerTests.cs
Labels: tests, automerge

#2542 Release
  src/Infrastructure/WB.Infrastructure.Native/Questionnaire/CategoriesExportService.cs
Labels: automerge
