Repository surveysolutions/surveysolutions, pull requests merged in 2023-06, with the labels that each got.

#2609 SV app asks for a user password each time during maps synchronization…
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Interviewer/v2/MapsApiV2Controller.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/MapsControllerBase.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Supervisor/v1/MapsApiV1Controller.cs
Labels: rc

#2607 Non unique pass fix 2605
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/AssignmentImport/AssignmentsImportService.cs
  src/Core/Infrastructure/WB.Core.Infrastructure/Implementation/InMemoryPlainStorageAccessor.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/Assignments/AssignmentsImportServiceTests.Simple.cs
Labels: rc, tests

#2610 Map preview is missing on Cover page #2603
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/CoverInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/CoverPrefilledEntity.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_cover_prefilled_question_template.axml
Labels: rc

#2615 Grey highlighting is duplicated or missing on Sections side panel. Fi…
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SideBarSectionViewModel.cs
Labels: rc

#2617 try to fix mapType, set value in code
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ViewSetGpsLocationBinding.cs
Labels: rc

#2631 Update androidx libs
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/Converters/VisibilityNullableValueConverter.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorSetup.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Extensions/Resources/layout/map_dashboard.axml
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/MapDashboardViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/SupervisorMapDashboardViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
Labels: rc

#2632 Fix carousel visible on maps list
  src/UI/Shared/WB.UI.Shared.Enumerator/Converters/IsNullableHavingValueConverter.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorSetup.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Resources/layout/map_dashboard.axml
Labels: rc

#2608 Rc
  src/.version
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/AssignmentImport/AssignmentsImportService.cs
  src/Core/Infrastructure/WB.Core.Infrastructure/Implementation/InMemoryPlainStorageAccessor.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Aggregates/IStatefulInterview.cs
  src/Core/SharedKernels/DataCollection/DataCollection/Implementation/Aggregates/StatefulInterview.cs
  src/Core/SharedKernels/Enumerator/Enumerator/EnumeratorSharedKernelModule.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Implementation/Services/SqlitePlainStorageAutoWorkspaceResolve.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/CoverInterviewViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/CoverPrefilledEntity.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/ISideBarSectionViewModelsFactory.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SideBarCoverSectionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SideBarSectionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SideBarSectionViewModelFactory.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SideBarSectionsViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/SideBarVirtualCoverSectionViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/NavigationIdentity.cs
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WebInterview/Services/WebInterviewNotificationService.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/DbMigrations/DbMigrationsRunner.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/Implementation/DatabaseManagement.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/MigrationLock.cs
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/OrmModule.cs
  src/Tests/WB.Tests.Abc/TestFactories/ViewModelFactory.cs
  src/Tests/WB.Tests.Integration/Setup.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Headquarters/Assignments/AssignmentsImportServiceTests.Simple.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/SidebarSectionsViewModelTests.cs
  src/UI/Interviewer/WB.UI.Interviewer/Extensions.props
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/Dashboard/ExpandableViewHolder.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/InterviewEntitiesListFragment.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Converters/IsNullableHavingValueConverter.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Converters/VisibilityNullableValueConverter.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ViewSetGpsLocationBinding.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomControls/CoverInterviewTemplateSelector.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/EnumeratorSetup.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_cover_prefilled_entity_with_attachment_template.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_cover_prefilled_gps_question_template.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/interview_cover_screen.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/styles-interview.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/ValueCombiners/MakeMarkdownLinksExecutableValueCombiner.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/GeographyEditorActivity.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/InterviewerMapDashboardActivity.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/MapDashboardActivity.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Resources/layout/map_dashboard.axml
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/MapDashboardViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/SupervisorMapDashboardViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
  src/UI/Supervisor/WB.UI.Supervisor/Activities/Dashboard/MenuFragment.cs
  src/UI/Supervisor/WB.UI.Supervisor/ServiceLocation/SupervisorInfrastructureModule.cs
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interview/DetailsInfo.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interviews/HqInterviews.vue
  src/UI/WB.UI.Frontend/src/webinterview/store/store.actions.js
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Interviewer/v2/MapsApiV2Controller.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/MapsControllerBase.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Supervisor/v1/MapsApiV1Controller.cs
Labels: tests, automerge

#2638 Release
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/MapDashboardViewModel.cs
Labels: automerge

#2641 update graphql lib to 13.2.1
  src/Tests/WB.Tests.Web/Headquarters/Controllers/GraphTests/SchemaTest.Ensure_schema_isCorrect.approved.txt
  src/Tests/WB.Tests.Web/Headquarters/Controllers/GraphTests/SchemaTest.cs
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Assignments/Assignment.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/CompositeFormatter.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/CompositeSerializer.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Conventions/CompatibilityNamingConvention.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/GraphQLIntegration.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Maps/Map.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Maps/UserMapObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Paging/PageConnectionMiddleware.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Reports/Map/FeatureObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/WorkspaceGraphQlMiddleware.cs
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: tests

#2640 Hotfix 23 06 1
  src/.version
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/EnumerationStageViewModel.cs
  src/Tests/WB.Tests.Web/Headquarters/Controllers/GraphTests/SchemaTest.Ensure_schema_isCorrect.approved.txt
  src/Tests/WB.Tests.Web/Headquarters/Controllers/GraphTests/SchemaTest.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/BaseFragment.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/BaseInterviewActivity.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/BasePrefilledQuestionsActivity.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/InterviewEntitiesListFragment.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/dashboard_card.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dashboard_synchronization.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dimensions_dashboard.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/Carousel/CarouselIPageTransformer.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/Carousel/CarouselViewAdapter.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/InterviewerMapDashboardActivity.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/MapDashboardActivity.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/BaseMapInteractionViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/InterviewerMapDashboardViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/MapDashboardViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/SupervisorMapDashboardViewModel.cs
  src/UI/Supervisor/WB.UI.Supervisor/Properties/AndroidManifest.xml
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/src/assets/css/_mixins.scss
  src/UI/WB.UI.Frontend/src/webinterview/components/Cover.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/CategoricalYesNo.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/question_helpers.js
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Assignments/Assignment.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/CompositeFormatter.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/CompositeSerializer.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Conventions/CompatibilityNamingConvention.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/GraphQLIntegration.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Maps/Map.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Maps/MapsResolver.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Maps/UserMapObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Paging/PageConnectionMiddleware.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Reports/Map/FeatureObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/WorkspaceGraphQlMiddleware.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/HQController.cs
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: tests

#2646 Release
  src/.version
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/EnumerationStageViewModel.cs
  src/Tests/WB.Tests.Web/Headquarters/Controllers/GraphTests/SchemaTest.Ensure_schema_isCorrect.approved.txt
  src/Tests/WB.Tests.Web/Headquarters/Controllers/GraphTests/SchemaTest.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/BaseFragment.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/BaseInterviewActivity.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/BasePrefilledQuestionsActivity.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/InterviewEntitiesListFragment.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/layout/dashboard_card.axml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dashboard_synchronization.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/Resources/values/dimensions_dashboard.xml
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/Carousel/CarouselIPageTransformer.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/Carousel/CarouselViewAdapter.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/InterviewerMapDashboardActivity.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Activities/MapDashboardActivity.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/BaseMapInteractionViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/InterviewerMapDashboardViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/MapDashboardViewModel.cs
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/SupervisorMapDashboardViewModel.cs
  src/UI/Supervisor/WB.UI.Supervisor/Properties/AndroidManifest.xml
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/src/assets/css/_mixins.scss
  src/UI/WB.UI.Frontend/src/webinterview/components/Cover.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/CategoricalYesNo.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/question_helpers.js
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Assignments/Assignment.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/CompositeFormatter.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/CompositeSerializer.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Conventions/CompatibilityNamingConvention.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/GraphQLIntegration.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Maps/Map.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Maps/MapsResolver.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Maps/UserMapObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Paging/PageConnectionMiddleware.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Reports/Map/FeatureObjectType.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/WorkspaceGraphQlMiddleware.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/HQController.cs
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: tests, automerge
