Repository surveysolutions/surveysolutions, pull requests merged in 2024-06, with the labels that each got.

#3289 App update check
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.Designer.cs
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.resx
  src/UI/WB.UI.Designer/Resources/QuestionnaireEditor.ru.resx
  src/UI/WB.UI.Designer/Views/Shared/Vue.cshtml
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/ar.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/cs.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/en.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/es.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/fr.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/ro.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/ru.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/sq.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/uk.json
  src/UI/WB.UI.Designer/questionnaire-app/src/locale/zh.json
  src/UI/WB.UI.Designer/questionnaire-app/src/plugins/errorHandler.js
  src/UI/WB.UI.Designer/questionnaire-app/src/services/apiService.js
  src/UI/WB.UI.Designer/questionnaire-app/src/services/designerService.js
Labels: rc

#3291 There is blank space on Complete page in interviews
  src/UI/Shared/WB.UI.Shared.Enumerator/Activities/CompleteInterviewFragment.cs
Labels: rc

#3295 fix expansion buttons on complete screen
  src/UI/WB.UI.Frontend/src/hqapp/components/ExpandableList.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/Complete.vue
Labels: rc

#3294 IN app data is cleared out after update
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/AndroidPathUtils.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/BackupRestoreService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/MapService.cs
  src/UI/Supervisor/WB.UI.Supervisor/Services/Implementation/SupervisorSettings.cs
  src/UI/Tester/WB.UI.Tester/Setup.cs
Labels: rc

#3305 Release
  src/Core/SharedKernels/Enumerator/Enumerator/Services/IEnumeratorSettings.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Services/Infrastructure/IMapInteractionService.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/AreaQuestionViewModel.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomServices/AreaEditor/DummyMapInteractionService.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/Services/EnumeratorSettings.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Services/MapInteractionService.cs
  src/UI/Tester/WB.UI.Tester/Infrastructure/Internals/Settings/TesterSettings.cs
  src/UI/Tester/WB.UI.Tester/Properties/AndroidManifest.xml
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Admin/TabletInfos.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/DiagnosticsController.cs
Labels: automerge

#3299 Update libs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/AssignmentImport/AssignmentsImportReader.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/WB.Core.BoundedContexts.Interviewer.csproj
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/WB.Core.BoundedContexts.Tester.csproj
  src/Core/Infrastructure/WB.Core.Infrastructure/WB.Core.Infrastructure.csproj
  src/Core/Infrastructure/WB.Infrastructure.AspNetCore/WB.Infrastructure.AspNetCore.csproj
  src/Core/SharedKernels/DataCollection/DataCollection/WB.Core.SharedKernels.DataCollection.csproj
  src/Core/SharedKernels/Enumerator/Enumerator/WB.Core.SharedKernels.Enumerator.csproj
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WB.Enumerator.Native.Core.csproj
  src/Core/SharedKernels/Questionnaire/WB.Core.SharedKernels.Questionnaire/WB.Core.SharedKernels.Questionnaire.csproj
  src/Infrastructure/WB.Infrastructure.Native/Storage/Postgre/Implementation/PostgresKeyValueStorage.cs
  src/Infrastructure/WB.Infrastructure.Native/WB.Infrastructure.Native.csproj
  src/Infrastructure/WB.Persistence.Designer/WB.Persistence.Designer.csproj
  src/Infrastructure/WB.Persistence.Headquarters/WB.Persistence.Headquarters.csproj
  src/Services/Core/WB.Services.Infrastructure/WB.Services.Infrastructure.csproj
  src/Services/Core/WB.Services.Scheduler.Tests/WB.Services.Scheduler.Tests.csproj
  src/Services/Core/WB.Services.Scheduler/WB.Services.Scheduler.csproj
  src/Services/Export/WB.Services.Export.Host/WB.Services.Export.Host.csproj
  src/Services/Export/WB.Services.Export.Tests/WB.Services.Export.Tests.csproj
  src/Services/Export/WB.Services.Export/WB.Services.Export.csproj
  src/Tests/WB.Tests.Abc/WB.Tests.Abc.csproj
  src/Tests/WB.Tests.Integration.Designer/WB.Tests.Integration.Designer.csproj
  src/Tests/WB.Tests.Integration/WB.Tests.Integration.csproj
  src/Tests/WB.Tests.Unit.Designer/WB.Tests.Unit.Designer.csproj
  src/Tests/WB.Tests.Unit/WB.Tests.Unit.csproj
  src/Tests/WB.Tests.Web/WB.Tests.Web.csproj
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Web.Core/WB.UI.Shared.Web.Core.csproj
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
  src/UI/WB.UI.WebTester/WB.UI.WebTester.csproj
Labels: tests, migrations

#3311 Update HotChocolate
  src/Tests/Test.DotSettings
  src/Tests/WB.Tests.Web/Headquarters/Controllers/GraphTests/SchemaTest.Ensure_schema_isCorrect.approved.txt
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Filters/IdentifyEntityValueFilterInput.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/GraphQLIntegration.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Maps/MapsResolver.cs
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
  src/WB without Xamarin.sln.DotSettings
Labels: tests
