Repository surveysolutions/surveysolutions, pull requests merged in 2025-04, with the labels that each got.

#3816 #3791 do not update UpdateDate when Interviewer receives
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
Labels: rc

#3826 Rc
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
  src/UI/WB.UI.Designer/package-lock.json
  src/UI/WB.UI.Designer/package.json
  src/UI/WB.UI.Frontend/package-lock.json
  src/UI/WB.UI.Frontend/package.json
Labels: automerge

#3829 #3828 react to comments in export
  src/Services/Export/WB.Services.Export/Events/Interview/AnswerCommentResolved.cs
  src/Services/Export/WB.Services.Export/Events/Interview/AnswerCommented.cs
  src/Services/Export/WB.Services.Export/InterviewDataStorage/InterviewSummaryDenormalizer.cs
Labels: rc

#3823 #3795 fix menu on small screens
  src/UI/WB.UI.Frontend/src/hqapp/compatibility.js
  src/UI/WB.UI.Frontend/src/webinterview/components/Navbar.vue
Labels: rc

#3825 #3818 error handler in the store
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Export/export.store.js
  src/UI/WB.UI.Frontend/src/shared/errorHandler.js
  src/UI/WB.UI.Frontend/src/webinterview/components/signalr/core.signalr.js
Labels: rc

#3827 Page is not scrolled up automatically after redirection from a long section #3778
  src/UI/WB.UI.Frontend/src/webinterview/router/index.js
Labels: rc

#3830 #2471 tests and refactoring
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/DataExport/ExportSettings.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/DataExport/Security/IExportSettings.cs
  src/Services/Export/WB.Services.Export.Tests/ExportJobTests/ExportArchiveHandleServiceTests.cs
  src/Services/Export/WB.Services.Export/Jobs/ExportArchiveHandleService.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/AdminSettingsController.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/ExportSettingsApiController.cs
  src/UI/WB.UI.Headquarters.Core/Models/ExportSettingsModel.cs
Labels: rc, tests

#3831 refactor tests
  src/Services/Export/WB.Services.Export.Tests/ExportJobTests/ExportArchiveHandleServiceTests.cs
  src/Services/Export/WB.Services.Export/Infrastructure/IFileSystemAccessor.cs
  src/Services/Export/WB.Services.Export/Infrastructure/Implementation/FileSystemAccessor.cs
  src/Services/Export/WB.Services.Export/Jobs/ExportArchiveHandleService.cs
Labels: rc, tests

#3832 #3721 fix copy and paste roster
  src/UI/WB.UI.Designer/questionnaire/src/services/copyPasteService.js
Labels: rc

#3835 Save scenario modal does not show up #3834
  src/UI/WB.UI.Designer/questionnaire/src/views/App/components/leftSidePanel/ScenarioEditor.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/Navbar.vue
Labels: rc

#3839 #3837 add warning on export encryption settings
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Admin/Settings/Export.vue
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.ar.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.cs.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.fr.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.pt.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.ru.resx
Labels: rc

#3843 3828 fix update date after comment
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/EventHandler/InterviewSummaryDenormalizer.cs
Labels: rc

#3842 #3836 observer memo on UI
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Users/ApiUsers.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Users/Headquarters.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Users/Observers.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Users/Supervisors.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/UsersController.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ar.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.cs.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.fr.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.pt.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Pages.ru.resx
Labels: rc

#3854 #3844 fix confirm dialogs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Admin/Settings/Export.vue
  src/UI/WB.UI.Frontend/src/shared/modal.js
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.ar.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.cs.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.fr.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.pt.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.ru.resx
Labels: rc

#3855 Buttons styles were changed #3699
  src/UI/WB.UI.Designer/Areas/Identity/Pages/Layout.Account.Template.cshtml
  src/UI/WB.UI.Designer/build/entries/logon.js
  src/UI/WB.UI.Designer/questionnaire/content/designer-start/designer-start.less
Labels: rc

#3838 Add font #3625
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/PdfInterview/DefinePdfStyles.cs
Labels: rc

#3857 Datatable limit size
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/AssignmentsApiController.cs
  src/UI/WB.UI.Headquarters.Core/Models/Api/DataTableRequestModel.cs
Labels: rc
