Repository surveysolutions/surveysolutions, pull requests merged in 2025-01, with the labels that each got.

#3588 Fix markers mismatch #3332
  src/UI/Shared/WB.UI.Shared.Extensions/Resources/layout/assignment_map.axml
  src/UI/Shared/WB.UI.Shared.Extensions/Resources/layout/map_dashboard.axml
Labels: rc

#3590 Disable search in tracks filtter
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Assignments/AssignmentMap.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/AssignmentGeoApiController.cs
Labels: rc

#3589 Check version for assignment sync backward compatibility
  src/Tests/WB.Tests.Web/Headquarters/Controllers/AssignmentsApiV2ControllerTests.cs
  src/UI/WB.UI.Headquarters.Core/Code/Extensions.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/AssignmentsControllerBase.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Interviewer/v2/AssignmentsApiV2Controller.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/InterviewsControllerBase.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Supervisor/v1/AssignmentsApiV1Controller.cs
Labels: rc, tests

#3593 Could not initialize proxy error message shows up in the response on users GraphQL request
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/GraphQLIntegration.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Users/UsersResolver.cs
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: rc

#3594 render update after restoring
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/AssignmentMapViewModel.cs
Labels: rc

#3600 Release
  src/.version
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/Views/Dashboard/DashboardItems/InterviewerAssignmentDashboardItemViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/Dashboard/Items/SupervisorAssignmentDashboardItemViewModel.cs
  src/Core/BoundedContexts/Supervisor/WB.Core.BoundedContexts.Supervisor/ViewModel/Dashboard/Items/SupervisorInterviewDashboardViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.Designer.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/EnumeratorUIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/AssignmentDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/ExpandableQuestionsDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/InterviewDashboardItemViewModel.cs
  src/Tests/WB.Tests.Unit/BoundedContexts/Interviewer/ViewModels/InterviewDashboardItemViewModelTests/InterviewDashboardItemViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/AssignmentDashboardItemViewModelTests/AssignmentDashboardItemViewModelTests.cs
  src/Tests/WB.Tests.Web/Headquarters/Controllers/AssignmentsApiV2ControllerTests.cs
  src/Tests/WB.Tests.Web/Headquarters/Controllers/InterviewerInterviewsControllerTests/v2/when_getting_interviews.cs
  src/UI/Shared/WB.UI.Shared.Enumerator/CustomBindings/ViewPager2CurrentItemBinding.cs
  src/UI/Shared/WB.UI.Shared.Extensions/Resources/layout/assignment_map.axml
  src/UI/Shared/WB.UI.Shared.Extensions/Resources/layout/map_dashboard.axml
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/AssignmentMapViewModel.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Assignments/AssignmentMap.vue
  src/UI/WB.UI.Headquarters.Core/Code/Extensions.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/AssignmentGeoApiController.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/AssignmentsControllerBase.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Interviewer/v2/AssignmentsApiV2Controller.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/InterviewsControllerBase.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/DataCollection/Supervisor/v1/AssignmentsApiV1Controller.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/GraphQLIntegration.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Graphql/Users/UsersResolver.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Common.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Common.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.ru.resx
  src/UI/WB.UI.Headquarters.Core/Resources/WebInterviewUI.resx
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
Labels: tests, automerge

#3610 Hotfix 25 01 1
  src/.version
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Assignments/AssignmentRow.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Assignments/AssignmentViewFactory.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/CompletedEmails/SendInterviewCompletedJob.cs
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/Invitations/SendRemindersJob.cs
  src/Core/Infrastructure/WB.Core.Infrastructure/Ncqrs/Eventing/OnEventApplyException.cs
  src/Core/Infrastructure/WB.Core.Infrastructure/Ncqrs/Eventing/Sourcing/EventSource.cs
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.resx
  src/Core/SharedKernels/Enumerator/Enumerator/Properties/UIResources.ru.resx
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/Dashboard/ExpandableQuestionsDashboardItemViewModel.cs
  src/Core/SharedKernels/Enumerator/Enumerator/ViewModels/InterviewDetails/Questions/State/EnablementViewModel.cs
  src/Tests/WB.Tests.Abc/TestFactories/ViewModelFactory.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/EnablementViewModelTests/EnablementViewModelTestsContext.cs
  src/Tests/WB.Tests.Unit/SharedKernels/Enumerator/ViewModels/StaticTextViewModelTests/StaticTextViewModelTestsContext.cs
  src/UI/Interviewer/WB.UI.Interviewer/Resources/Layout/dashboard_assignments_tab.axml
  src/UI/Shared/WB.UI.Shared.Extensions/ViewModels/AssignmentMapViewModel.cs
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Interview/SwitchLanguage.vue
  src/UI/WB.UI.Frontend/src/hqapp/Views/Interviewer/index.js
  src/UI/WB.UI.Frontend/src/hqapp/components/Select.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/MatrixRoster.RosterTitle.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/TableRoster.RosterTitle.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/AssignmentsController.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/Api/PublicApi/Models/Assignments.cs
  src/UI/WB.UI.Headquarters.Core/Services/Quartz/QuartzIntegrationExtensions.cs
Labels: tests

#3649 Release
  src/UI/WB.UI.Designer/questionnaire/content/designer-editor/wb-designer-editor.css.less
  src/UI/WB.UI.Designer/questionnaire/content/markup.less
  src/UI/WB.UI.Designer/questionnaire/src/locale/fr.json
  src/UI/WB.UI.Designer/questionnaire/src/views/App/components/Tree.vue
Labels: automerge
