Repository surveysolutions/surveysolutions, pull requests merged in 2025-05, with the labels that each got.

#3910 temporary fix of title error
  src/UI/WB.UI.Designer/questionnaire/src/views/App/components/VerificationDialog.vue
Labels: automerge

#3916 Release
  src/.version
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/UI/WB.UI.Designer/vite.config.js
  src/UI/WB.UI.Frontend/src/hqapp/Views/HQ/Admin/Settings/Logo.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/Double.vue
  src/UI/WB.UI.Frontend/src/webinterview/components/questions/TableRoster.Double.vue
  src/UI/WB.UI.Headquarters.Core/Controllers/InterviewController.cs
  src/UI/WB.UI.Headquarters.Core/Controllers/SettingsController.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.Designer.cs
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.ar.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.cs.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.es.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.fr.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.pt.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.resx
  src/UI/WB.UI.Headquarters.Core/Resources/Settings.ru.resx
Labels: automerge

#3927 #3822 fix wording in export__readme.txt
  src/Services/Export/WB.Services.Export.Tests/CsvExport/Implementation/TabularFormatExportServiceTests.cs
  src/Services/Export/WB.Services.Export/CsvExport/Implementation/TabularFormatExportService.cs
Labels: tests

#3933 Update libs
  src/Core/BoundedContexts/Designer/WB.Core.BoundedContexts.Designer/WB.Core.BoundedContexts.Designer.csproj
  src/Core/BoundedContexts/Headquarters/WB.Core.BoundedContexts.Headquarters/WB.Core.BoundedContexts.Headquarters.csproj
  src/Core/BoundedContexts/Interviewer/WB.Core.BoundedContexts.Interviewer/WB.Core.BoundedContexts.Interviewer.csproj
  src/Core/BoundedContexts/Tester/WB.Core.BoundedContexts.Tester/WB.Core.BoundedContexts.Tester.csproj
  src/Core/Infrastructure/WB.Core.Infrastructure/WB.Core.Infrastructure.csproj
  src/Core/Infrastructure/WB.Infrastructure.AspNetCore/WB.Infrastructure.AspNetCore.csproj
  src/Core/SharedKernels/DataCollection/DataCollection/WB.Core.SharedKernels.DataCollection.csproj
  src/Core/SharedKernels/Enumerator/Enumerator/WB.Core.SharedKernels.Enumerator.csproj
  src/Core/SharedKernels/Enumerator/WB.Enumerator.Native/WB.Enumerator.Native.Core.csproj
  src/Core/SharedKernels/Questionnaire/WB.Core.SharedKernels.Questionnaire/WB.Core.SharedKernels.Questionnaire.csproj
  src/Infrastructure/WB.Infrastructure.Native/WB.Infrastructure.Native.csproj
  src/Infrastructure/WB.Persistence.Designer/WB.Persistence.Designer.csproj
  src/Infrastructure/WB.Persistence.Headquarters/WB.Persistence.Headquarters.csproj
  src/Services/Core/WB.Services.Infrastructure/WB.Services.Infrastructure.csproj
  src/Services/Core/WB.Services.Scheduler.Tests/WB.Services.Scheduler.Tests.csproj
  src/Services/Core/WB.Services.Scheduler/WB.Services.Scheduler.csproj
  src/Services/Export/WB.Services.Export.Host/WB.Services.Export.Host.csproj
  src/Services/Export/WB.Services.Export.Tests/WB.Services.Export.Tests.csproj
  src/Services/Export/WB.Services.Export/WB.Services.Export.csproj
  src/Tests/WB.Tests.Abc/WB.Tests.Abc.csproj
  src/Tests/WB.Tests.Integration.Designer/ClassificationStorageIntegrationTests.cs
  src/Tests/WB.Tests.Integration.Designer/WB.Tests.Integration.Designer.csproj
  src/Tests/WB.Tests.Integration/WB.Tests.Integration.csproj
  src/Tests/WB.Tests.Unit.Designer/WB.Tests.Unit.Designer.csproj
  src/Tests/WB.Tests.Unit/WB.Tests.Unit.csproj
  src/Tests/WB.Tests.Web/Headquarters/WebInterview/MappingTests.cs
  src/Tests/WB.Tests.Web/WB.Tests.Web.csproj
  src/UI/Interviewer/WB.UI.Interviewer/WB.UI.Interviewer.csproj
  src/UI/Shared/WB.UI.Shared.Enumerator/WB.UI.Shared.Enumerator.csproj
  src/UI/Shared/WB.UI.Shared.Extensions/WB.UI.Shared.Extensions.csproj
  src/UI/Shared/WB.UI.Shared.Web.Core/WB.UI.Shared.Web.Core.csproj
  src/UI/Supervisor/WB.UI.Supervisor/WB.UI.Supervisor.csproj
  src/UI/Tester/WB.UI.Tester/WB.UI.Tester.csproj
  src/UI/WB.UI.Designer/WB.UI.Designer.csproj
  src/UI/WB.UI.Headquarters.Core/WB.UI.Headquarters.csproj
  src/UI/WB.UI.WebTester/WB.UI.WebTester.csproj
Labels: tests, migrations
